In [1]:
import snowflake
from snowflake.snowpark import Session
import os
from dotenv import load_dotenv

In [4]:
# Load environment variables from .env file
load_dotenv()
account = os.getenv('ACCOUNT')
password =os.getenv('PASSWORD')
user = os.getenv('USER')
warehouse = os.getenv('WAREHOUSE')
database = os.getenv('DATABASE')
schema = os.getenv('SCHEMA')

In [5]:
connections = snowflake.connector.connect(user = user,
                                  password = password,
                                  account = account,
                                  database = database,
                                  schema = schema)

In [6]:
cursor = connections.cursor()

In [8]:
cursor.execute('Show schemas;')

In [9]:
for i in cursor:
    print(i)

(datetime.datetime(2024, 9, 8, 23, 11, 45, 101000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'INFORMATION_SCHEMA', 'N', 'N', 'SNOWPARK_DEMO_DB', '', 'Views describing the contents of schemas in this database', '', '1', '', None)
(datetime.datetime(2024, 9, 5, 0, 2, 16, 831000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'PUBLIC', 'N', 'N', 'SNOWPARK_DEMO_DB', 'ACCOUNTADMIN', '', '', '1', 'ROLE', None)
(datetime.datetime(2024, 9, 5, 0, 2, 17, 657000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'SNOWPARK_DEMO_SCHEMA', 'N', 'Y', 'SNOWPARK_DEMO_DB', 'ACCOUNTADMIN', '', '', '1', 'ROLE', None)

In [10]:
cursor.execute('Use warehouse SQL_QUERY_WH;')

In [12]:
cursor.execute('select current_warehouse();')

In [13]:
for i in cursor:
    print(i)

('SQL_QUERY_WH',)

In [14]:
cursor.execute('Use database SAMPLE_DATABASE;')

In [15]:
cursor.execute('Select current_database();')
for db in cursor:
    print(db)

('SAMPLE_DATABASE',)

In [17]:
cursor.execute('use schema MY_SCHEMA;')
cursor.execute('Select current_schema();')
for db in cursor:
    print(db)

('MY_SCHEMA',)

# Create table

In [23]:
cursor.execute('CREATE TABLE LUCKY(SALARY INT, WEIGHT DECIMAL(5, 3), INSURANCE BOOLEAN);')

In [24]:
cursor.execute("Show tables;")

In [25]:
for table in cursor:
    print(table)

(datetime.datetime(2024, 9, 8, 23, 49, 55, 146000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'LUCKY', 'SAMPLE_DATABASE', 'MY_SCHEMA', 'TABLE', '', '', 0, 0, 'ACCOUNTADMIN', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', None, 'N', 'N', 'N', 'N')

# Insert

In [26]:
cursor.execute('INSERT INTO LUCKY(SALARY, WEIGHT, INSURANCE) VALUES(1234, 12.23422, TRUE);')

In [27]:
cursor.execute('INSERT INTO LUCKY(SALARY, WEIGHT, INSURANCE) VALUES(1235, 14.23422, 1);')

In [28]:
cursor.execute('INSERT INTO LUCKY(SALARY, WEIGHT, INSURANCE) VALUES(12344, 12.23422, 0);')

In [34]:
cursor.execute('INSERT INTO LUCKY(SALARY, WEIGHT, INSURANCE) VALUES(1234, 12.23422,  FALSE);')

In [35]:
cursor.execute('INSERT INTO LUCKY VALUES(salary= 3453, "weight" =12.23422, "insurance" =TRUE);')

ProgrammingError: 000904 (42000): SQL compilation error: error line 1 at position 25
invalid identifier 'SALARY'

In [37]:
cursor.execute('SELECT * FROM LUCKY;')
data = cursor.fetchall()
data

[(1234, Decimal('12.234'), True),
 (1235, Decimal('14.234'), True),
 (12344, Decimal('12.234'), False),
 (1234, Decimal('12.234'), False)]

# Alter table

In [41]:
query = 'ALTER TABLE LUCKY ADD COVID VARCHAR(5);'
cursor.execute(query)

ProgrammingError: 001430 (42601): SQL compilation error:
column 'COVID' already exists

In [47]:
query = 'UPDATE LUCKY SET COVID = yesss where SALARY = 1234;'
cursor.execute(query)

ProgrammingError: 000904 (42000): SQL compilation error: error line 1 at position 25
invalid identifier 'YESSS'

# date and time

In [50]:
cursor.execute('CREATE TABLE DATE (DATEIN DATE);')

In [51]:
cursor.execute('INSERT INTO DATE (DATEIN) values ( CURDATE());')

ProgrammingError: 002140 (42601): SQL compilation error:
Unknown function CURDATE

In [52]:
cursor.execute('INSERT INTO DATE (DATEIN) values ( CURRENT_DATE());')

In [53]:
cursor.execute('INSERT INTO DATE (DATEIN) values ( CURRENT_TIMESTAMP());')

In [54]:
cursor.execute('INSERT INTO DATE (DATEIN) values ( CURRENT_TIME());')

ProgrammingError: 002023 (22000): SQL compilation error:
Expression type does not match column data type, expecting DATE but got TIME(9) for column DATEIN

In [55]:
cursor.execute('INSERT INTO DATE (DATEIN) values ( NOW());')

ProgrammingError: 002140 (42601): SQL compilation error:
Unknown function NOW

In [57]:
cursor.execute('insert into date (datein) values (24:09:09);')

ProgrammingError: 001003 (42000): SQL compilation error:
syntax error line 1 at position 37 unexpected '09'.
syntax error line 1 at position 40 unexpected '09'.

In [ ]:

# https://docs.snowflake.com/en/sql-reference/date-time-examples
SELECT CURRENT_DATE();

SELECT CURRENT_TIMESTAMP();

In [77]:
cursor.execute("INSERT INTO date (datein) VALUES (TO_DATE('2024,01,08', 'YYYY,MM,DD'))")

In [76]:
cursor.execute("INSERT INTO date (datein) VALUES (TO_DATE('2024:01:08', 'YYYY:MM:DD'))")

In [60]:
cursor.execute('SELECT * FROM date;')
data = cursor.fetchall()
data

[(datetime.date(2024, 9, 9),), (datetime.date(2024, 9, 9),)]

In [66]:
query = 'ALTER TABLE DATE ADD YEAR INT;'
cursor.execute(query)

In [67]:
query = 'update date set year = year(datein);'
cursor.execute(query)

In [68]:
cursor.execute('SELECT * FROM date;')
data = cursor.fetchall()
data

[(datetime.date(2024, 9, 9), 2024), (datetime.date(2024, 9, 9), 2024)]

In [69]:
query = 'ALTER TABLE DATE ADD MONTH INT, DATE INT;'
cursor.execute(query)

In [70]:
query = 'update date set MONTH = month(datein), date = day(datein);'
cursor.execute(query)

In [71]:
cursor.execute('SELECT * FROM date;')
data = cursor.fetchall()
data

[(datetime.date(2024, 9, 9), 2024, 9, 9),
 (datetime.date(2024, 9, 9), 2024, 9, 9)]

In [72]:
cursor.execute("INSERT INTO date (datein) VALUES ('2014-09-16' )")

In [73]:
cursor.execute('SELECT * FROM date;')
data = cursor.fetchall()
data

[(datetime.date(2024, 9, 9), 2024, 9, 9),
 (datetime.date(2024, 9, 9), 2024, 9, 9),
 (datetime.date(2014, 9, 16), None, None, None)]

In [84]:
cursor.execute("INSERT INTO date (datein) VALUES (TO_DATE('2025:01:08', 'YYYY:MM:DD')), (TO_DATE('2022:01:08', 'YYYY:MM:DD'));")

In [85]:
cursor.execute('SELECT * FROM date;')
data = cursor.fetchall()
data

[(datetime.date(2024, 9, 9), 2024, 9, 9),
 (datetime.date(2024, 9, 9), 2024, 9, 9),
 (datetime.date(2014, 9, 16), None, None, None),
 (datetime.date(2024, 1, 8), None, None, None),
 (datetime.date(2024, 1, 8), None, None, None),
 (datetime.date(2025, 1, 8), None, None, None),
 (datetime.date(2022, 1, 8), None, None, None)]

In [74]:
cursor.execute('INSERT INTO DATE (DATEIN) values ( DATE());')

ProgrammingError: 001044 (42P13): SQL compilation error: error line 1 at position 35
Invalid argument types for function 'DATE': ()

In [64]:
cursor.execute("CREATE TABLE datetimedetails (datein DATETIME)")

In [65]:
cursor.execute("INSERT INTO datetimedetails (datein) VALUES ( CURDATE())")

ProgrammingError: 002140 (42601): SQL compilation error:
Unknown function CURDATE

# DIABETES DATAFRAME

In [78]:
import pandas as pd

In [79]:
df = pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [80]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [83]:
df.to_sql('diabetes', con = cursor)

C:\Users\user\AppData\Local\Temp\ipykernel_7596\2983270208.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('diabetes', con = cursor)

AttributeError: 'SnowflakeCursor' object has no attribute 'cursor'

In [89]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [97]:
print(df.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [93]:
datas = str([tuple(data) for data in df.values.tolist()])[1:-1]

In [99]:
query = '''CREATE TABLE DIABETES (Pregnancies INT, 
            Glucose INT, 
            BloodPressure INT,
            SkinThickness INT,
            Insulin INT,
            BMI DECIMAL,
            DiabetesPedigreeFunction  DECIMAL,
            Age INT,
            Outcome INT);'''

cursor.execute(query)

In [100]:
query = f'INSERT INTO DIABETES VALUES {datas}'
query

'INSERT INTO DIABETES VALUES (6.0, 148.0, 72.0, 35.0, 0.0, 33.6, 0.627, 50.0, 1.0), (1.0, 85.0, 66.0, 29.0, 0.0, 26.6, 0.351, 31.0, 0.0), (8.0, 183.0, 64.0, 0.0, 0.0, 23.3, 0.672, 32.0, 1.0), (1.0, 89.0, 66.0, 23.0, 94.0, 28.1, 0.167, 21.0, 0.0), (0.0, 137.0, 40.0, 35.0, 168.0, 43.1, 2.288, 33.0, 1.0), (5.0, 116.0, 74.0, 0.0, 0.0, 25.6, 0.201, 30.0, 0.0), (3.0, 78.0, 50.0, 32.0, 88.0, 31.0, 0.248, 26.0, 1.0), (10.0, 115.0, 0.0, 0.0, 0.0, 35.3, 0.134, 29.0, 0.0), (2.0, 197.0, 70.0, 45.0, 543.0, 30.5, 0.158, 53.0, 1.0), (8.0, 125.0, 96.0, 0.0, 0.0, 0.0, 0.232, 54.0, 1.0), (4.0, 110.0, 92.0, 0.0, 0.0, 37.6, 0.191, 30.0, 0.0), (10.0, 168.0, 74.0, 0.0, 0.0, 38.0, 0.537, 34.0, 1.0), (10.0, 139.0, 80.0, 0.0, 0.0, 27.1, 1.441, 57.0, 0.0), (1.0, 189.0, 60.0, 23.0, 846.0, 30.1, 0.398, 59.0, 1.0), (5.0, 166.0, 72.0, 19.0, 175.0, 25.8, 0.587, 51.0, 1.0), (7.0, 100.0, 0.0, 0.0, 0.0, 30.0, 0.484, 32.0, 1.0), (0.0, 118.0, 84.0, 47.0, 230.0, 45.8, 0.551, 31.0, 1.0), (7.0, 107.0, 74.0, 0.0, 0.0, 29.6, 0.254, 31.0, 1.0), (1.0, 103.0, 30.0, 38.0, 83.0, 43.3, 0.183, 33.0, 0.0), (1.0, 115.0, 70.0, 30.0, 96.0, 34.6, 0.529, 32.0, 1.0), (3.0, 126.0, 88.0, 41.0, 235.0, 39.3, 0.704, 27.0, 0.0), (8.0, 99.0, 84.0, 0.0, 0.0, 35.4, 0.388, 50.0, 0.0), (7.0, 196.0, 90.0, 0.0, 0.0, 39.8, 0.451, 41.0, 1.0), (9.0, 119.0, 80.0, 35.0, 0.0, 29.0, 0.263, 29.0, 1.0), (11.0, 143.0, 94.0, 33.0, 146.0, 36.6, 0.254, 51.0, 1.0), (10.0, 125.0, 70.0, 26.0, 115.0, 31.1, 0.205, 41.0, 1.0), (7.0, 147.0, 76.0, 0.0, 0.0, 39.4, 0.257, 43.0, 1.0), (1.0, 97.0, 66.0, 15.0, 140.0, 23.2, 0.487, 22.0, 0.0), (13.0, 145.0, 82.0, 19.0, 110.0, 22.2, 0.245, 57.0, 0.0), (5.0, 117.0, 92.0, 0.0, 0.0, 34.1, 0.337, 38.0, 0.0), (5.0, 109.0, 75.0, 26.0, 0.0, 36.0, 0.546, 60.0, 0.0), (3.0, 158.0, 76.0, 36.0, 245.0, 31.6, 0.851, 28.0, 1.0), (3.0, 88.0, 58.0, 11.0, 54.0, 24.8, 0.267, 22.0, 0.0), (6.0, 92.0, 92.0, 0.0, 0.0, 19.9, 0.188, 28.0, 0.0), (10.0, 122.0, 78.0, 31.0, 0.0, 27.6, 0.512, 45.0, 0.0), (4.0, 103.0, 60.0, 33.0, 192.0, 24.0, 0.966, 33.0, 0.0), (11.0, 138.0, 76.0, 0.0, 0.0, 33.2, 0.42, 35.0, 0.0), (9.0, 102.0, 76.0, 37.0, 0.0, 32.9, 0.665, 46.0, 1.0), (2.0, 90.0, 68.0, 42.0, 0.0, 38.2, 0.503, 27.0, 1.0), (4.0, 111.0, 72.0, 47.0, 207.0, 37.1, 1.39, 56.0, 1.0), (3.0, 180.0, 64.0, 25.0, 70.0, 34.0, 0.271, 26.0, 0.0), (7.0, 133.0, 84.0, 0.0, 0.0, 40.2, 0.696, 37.0, 0.0), (7.0, 106.0, 92.0, 18.0, 0.0, 22.7, 0.235, 48.0, 0.0), (9.0, 171.0, 110.0, 24.0, 240.0, 45.4, 0.721, 54.0, 1.0), (7.0, 159.0, 64.0, 0.0, 0.0, 27.4, 0.294, 40.0, 0.0), (0.0, 180.0, 66.0, 39.0, 0.0, 42.0, 1.893, 25.0, 1.0), (1.0, 146.0, 56.0, 0.0, 0.0, 29.7, 0.564, 29.0, 0.0), (2.0, 71.0, 70.0, 27.0, 0.0, 28.0, 0.586, 22.0, 0.0), (7.0, 103.0, 66.0, 32.0, 0.0, 39.1, 0.344, 31.0, 1.0), (7.0, 105.0, 0.0, 0.0, 0.0, 0.0, 0.305, 24.0, 0.0), (1.0, 103.0, 80.0, 11.0, 82.0, 19.4, 0.491, 22.0, 0.0), (1.0, 101.0, 50.0, 15.0, 36.0, 24.2, 0.526, 26.0, 0.0), (5.0, 88.0, 66.0, 21.0, 23.0, 24.4, 0.342, 30.0, 0.0), (8.0, 176.0, 90.0, 34.0, 300.0, 33.7, 0.467, 58.0, 1.0), (7.0, 150.0, 66.0, 42.0, 342.0, 34.7, 0.718, 42.0, 0.0), (1.0, 73.0, 50.0, 10.0, 0.0, 23.0, 0.248, 21.0, 0.0), (7.0, 187.0, 68.0, 39.0, 304.0, 37.7, 0.254, 41.0, 1.0), (0.0, 100.0, 88.0, 60.0, 110.0, 46.8, 0.962, 31.0, 0.0), (0.0, 146.0, 82.0, 0.0, 0.0, 40.5, 1.781, 44.0, 0.0), (0.0, 105.0, 64.0, 41.0, 142.0, 41.5, 0.173, 22.0, 0.0), (2.0, 84.0, 0.0, 0.0, 0.0, 0.0, 0.304, 21.0, 0.0), (8.0, 133.0, 72.0, 0.0, 0.0, 32.9, 0.27, 39.0, 1.0), (5.0, 44.0, 62.0, 0.0, 0.0, 25.0, 0.587, 36.0, 0.0), (2.0, 141.0, 58.0, 34.0, 128.0, 25.4, 0.699, 24.0, 0.0), (7.0, 114.0, 66.0, 0.0, 0.0, 32.8, 0.258, 42.0, 1.0), (5.0, 99.0, 74.0, 27.0, 0.0, 29.0, 0.203, 32.0, 0.0), (0.0, 109.0, 88.0, 30.0, 0.0, 32.5, 0.855, 38.0, 1.0), (2.0, 109.0, 92.0, 0.0, 0.0, 42.7, 0.845, 54.0, 0.0), (1.0, 95.0, 66.0, 13.0, 38.0, 19.6, 0.334, 25.0, 0.0), (4.0, 146.0, 85.0, 27.0, 100.0, 28.9, 0.189, 27.0, 0.0), (2.0, 100.0, 66.0, 20.0, 90.0, 32.9, 0.867, 28.0, 1.0), (5.0, 139.0, 64.0, 35.0, 140.0, 28.6, 0.411, 26.0, 0.0), (13.0, 126.0, 90.0, 0.0, 0.0, 43.4, 0.583, 42.0, 1.0), (4.0, 129.0, 86.0, 20.0, 270.0, 35.1, 0.231, 23.0, 0.0), (1.0, 79.0, 75.0, 30.0, 0.0, 32.0, 0.396, 22.0, 0.0), (1.0, 0.0, 48.0, 20.0, 0.0, 24.7, 0.14, 22.0, 0.0), (7.0, 62.0, 78.0, 0.0, 0.0, 32.6, 0.391, 41.0, 0.0), (5.0, 95.0, 72.0, 33.0, 0.0, 37.7, 0.37, 27.0, 0.0), (0.0, 131.0, 0.0, 0.0, 0.0, 43.2, 0.27, 26.0, 1.0), (2.0, 112.0, 66.0, 22.0, 0.0, 25.0, 0.307, 24.0, 0.0), (3.0, 113.0, 44.0, 13.0, 0.0, 22.4, 0.14, 22.0, 0.0), (2.0, 74.0, 0.0, 0.0, 0.0, 0.0, 0.102, 22.0, 0.0), (7.0, 83.0, 78.0, 26.0, 71.0, 29.3, 0.767, 36.0, 0.0), (0.0, 101.0, 65.0, 28.0, 0.0, 24.6, 0.237, 22.0, 0.0), (5.0, 137.0, 108.0, 0.0, 0.0, 48.8, 0.227, 37.0, 1.0), (2.0, 110.0, 74.0, 29.0, 125.0, 32.4, 0.698, 27.0, 0.0), (13.0, 106.0, 72.0, 54.0, 0.0, 36.6, 0.178, 45.0, 0.0), (2.0, 100.0, 68.0, 25.0, 71.0, 38.5, 0.324, 26.0, 0.0), (15.0, 136.0, 70.0, 32.0, 110.0, 37.1, 0.153, 43.0, 1.0), (1.0, 107.0, 68.0, 19.0, 0.0, 26.5, 0.165, 24.0, 0.0), (1.0, 80.0, 55.0, 0.0, 0.0, 19.1, 0.258, 21.0, 0.0), (4.0, 123.0, 80.0, 15.0, 176.0, 32.0, 0.443, 34.0, 0.0), (7.0, 81.0, 78.0, 40.0, 48.0, 46.7, 0.261, 42.0, 0.0), (4.0, 134.0, 72.0, 0.0, 0.0, 23.8, 0.277, 60.0, 1.0), (2.0, 142.0, 82.0, 18.0, 64.0, 24.7, 0.761, 21.0, 0.0), (6.0, 144.0, 72.0, 27.0, 228.0, 33.9, 0.255, 40.0, 0.0), (2.0, 92.0, 62.0, 28.0, 0.0, 31.6, 0.13, 24.0, 0.0), (1.0, 71.0, 48.0, 18.0, 76.0, 20.4, 0.323, 22.0, 0.0), (6.0, 93.0, 50.0, 30.0, 64.0, 28.7, 0.356, 23.0, 0.0), (1.0, 122.0, 90.0, 51.0, 220.0, 49.7, 0.325, 31.0, 1.0), (1.0, 163.0, 72.0, 0.0, 0.0, 39.0, 1.222, 33.0, 1.0), (1.0, 151.0, 60.0, 0.0, 0.0, 26.1, 0.179, 22.0, 0.0), (0.0, 125.0, 96.0, 0.0, 0.0, 22.5, 0.262, 21.0, 0.0), (1.0, 81.0, 72.0, 18.0, 40.0, 26.6, 0.283, 24.0, 0.0), (2.0, 85.0, 65.0, 0.0, 0.0, 39.6, 0.93, 27.0, 0.0), (1.0, 126.0, 56.0, 29.0, 152.0, 28.7, 0.801, 21.0, 0.0), (1.0, 96.0, 122.0, 0.0, 0.0, 22.4, 0.207, 27.0, 0.0), (4.0, 144.0, 58.0, 28.0, 140.0, 29.5, 0.287, 37.0, 0.0), (3.0, 83.0, 58.0, 31.0, 18.0, 34.3, 0.336, 25.0, 0.0), (0.0, 95.0, 85.0, 25.0, 36.0, 37.4, 0.247, 24.0, 1.0), (3.0, 171.0, 72.0, 33.0, 135.0, 33.3, 0.199, 24.0, 1.0), (8.0, 155.0, 62.0, 26.0, 495.0, 34.0, 0.543, 46.0, 1.0), (1.0, 89.0, 76.0, 34.0, 37.0, 31.2, 0.192, 23.0, 0.0), (4.0, 76.0, 62.0, 0.0, 0.0, 34.0, 0.391, 25.0, 0.0), (7.0, 160.0, 54.0, 32.0, 175.0, 30.5, 0.588, 39.0, 1.0), (4.0, 146.0, 92.0, 0.0, 0.0, 31.2, 0.539, 61.0, 1.0), (5.0, 124.0, 74.0, 0.0, 0.0, 34.0, 0.22, 38.0, 1.0), (5.0, 78.0, 48.0, 0.0, 0.0, 33.7, 0.654, 25.0, 0.0), (4.0, 97.0, 60.0, 23.0, 0.0, 28.2, 0.443, 22.0, 0.0), (4.0, 99.0, 76.0, 15.0, 51.0, 23.2, 0.223, 21.0, 0.0), (0.0, 162.0, 76.0, 56.0, 100.0, 53.2, 0.759, 25.0, 1.0), (6.0, 111.0, 64.0, 39.0, 0.0, 34.2, 0.26, 24.0, 0.0), (2.0, 107.0, 74.0, 30.0, 100.0, 33.6, 0.404, 23.0, 0.0), (5.0, 132.0, 80.0, 0.0, 0.0, 26.8, 0.186, 69.0, 0.0), (0.0, 113.0, 76.0, 0.0, 0.0, 33.3, 0.278, 23.0, 1.0), (1.0, 88.0, 30.0, 42.0, 99.0, 55.0, 0.496, 26.0, 1.0), (3.0, 120.0, 70.0, 30.0, 135.0, 42.9, 0.452, 30.0, 0.0), (1.0, 118.0, 58.0, 36.0, 94.0, 33.3, 0.261, 23.0, 0.0), (1.0, 117.0, 88.0, 24.0, 145.0, 34.5, 0.403, 40.0, 1.0), (0.0, 105.0, 84.0, 0.0, 0.0, 27.9, 0.741, 62.0, 1.0), (4.0, 173.0, 70.0, 14.0, 168.0, 29.7, 0.361, 33.0, 1.0), (9.0, 122.0, 56.0, 0.0, 0.0, 33.3, 1.114, 33.0, 1.0), (3.0, 170.0, 64.0, 37.0, 225.0, 34.5, 0.356, 30.0, 1.0), (8.0, 84.0, 74.0, 31.0, 0.0, 38.3, 0.457, 39.0, 0.0), (2.0, 96.0, 68.0, 13.0, 49.0, 21.1, 0.647, 26.0, 0.0), (2.0, 125.0, 60.0, 20.0, 140.0, 33.8, 0.088, 31.0, 0.0), (0.0, 100.0, 70.0, 26.0, 50.0, 30.8, 0.597, 21.0, 0.0), (0.0, 93.0, 60.0, 25.0, 92.0, 28.7, 0.532, 22.0, 0.0), (0.0, 129.0, 80.0, 0.0, 0.0, 31.2, 0.703, 29.0, 0.0), (5.0, 105.0, 72.0, 29.0, 325.0, 36.9, 0.159, 28.0, 0.0), (3.0, 128.0, 78.0, 0.0, 0.0, 21.1, 0.268, 55.0, 0.0), (5.0, 106.0, 82.0, 30.0, 0.0, 39.5, 0.286, 38.0, 0.0), (2.0, 108.0, 52.0, 26.0, 63.0, 32.5, 0.318, 22.0, 0.0), (10.0, 108.0, 66.0, 0.0, 0.0, 32.4, 0.272, 42.0, 1.0), (4.0, 154.0, 62.0, 31.0, 284.0, 32.8, 0.237, 23.0, 0.0), (0.0, 102.0, 75.0, 23.0, 0.0, 0.0, 0.572, 21.0, 0.0), (9.0, 57.0, 80.0, 37.0, 0.0, 32.8, 0.096, 41.0, 0.0), (2.0, 106.0, 64.0, 35.0, 119.0, 30.5, 1.4, 34.0, 0.0), (5.0, 147.0, 78.0, 0.0, 0.0, 33.7, 0.218, 65.0, 0.0), (2.0, 90.0, 70.0, 17.0, 0.0, 27.3, 0.085, 22.0, 0.0), (1.0, 136.0, 74.0, 50.0, 204.0, 37.4, 0.399, 24.0, 0.0), (4.0, 114.0, 65.0, 0.0, 0.0, 21.9, 0.432, 37.0, 0.0), (9.0, 156.0, 86.0, 28.0, 155.0, 34.3, 1.189, 42.0, 1.0), (1.0, 153.0, 82.0, 42.0, 485.0, 40.6, 0.687, 23.0, 0.0), (8.0, 188.0, 78.0, 0.0, 0.0, 47.9, 0.137, 43.0, 1.0), (7.0, 152.0, 88.0, 44.0, 0.0, 50.0, 0.337, 36.0, 1.0), (2.0, 99.0, 52.0, 15.0, 94.0, 24.6, 0.637, 21.0, 0.0), (1.0, 109.0, 56.0, 21.0, 135.0, 25.2, 0.833, 23.0, 0.0), (2.0, 88.0, 74.0, 19.0, 53.0, 29.0, 0.229, 22.0, 0.0), (17.0, 163.0, 72.0, 41.0, 114.0, 40.9, 0.817, 47.0, 1.0), (4.0, 151.0, 90.0, 38.0, 0.0, 29.7, 0.294, 36.0, 0.0), (7.0, 102.0, 74.0, 40.0, 105.0, 37.2, 0.204, 45.0, 0.0), (0.0, 114.0, 80.0, 34.0, 285.0, 44.2, 0.167, 27.0, 0.0), (2.0, 100.0, 64.0, 23.0, 0.0, 29.7, 0.368, 21.0, 0.0), (0.0, 131.0, 88.0, 0.0, 0.0, 31.6, 0.743, 32.0, 1.0), (6.0, 104.0, 74.0, 18.0, 156.0, 29.9, 0.722, 41.0, 1.0), (3.0, 148.0, 66.0, 25.0, 0.0, 32.5, 0.256, 22.0, 0.0), (4.0, 120.0, 68.0, 0.0, 0.0, 29.6, 0.709, 34.0, 0.0), (4.0, 110.0, 66.0, 0.0, 0.0, 31.9, 0.471, 29.0, 0.0), (3.0, 111.0, 90.0, 12.0, 78.0, 28.4, 0.495, 29.0, 0.0), (6.0, 102.0, 82.0, 0.0, 0.0, 30.8, 0.18, 36.0, 1.0), (6.0, 134.0, 70.0, 23.0, 130.0, 35.4, 0.542, 29.0, 1.0), (2.0, 87.0, 0.0, 23.0, 0.0, 28.9, 0.773, 25.0, 0.0), (1.0, 79.0, 60.0, 42.0, 48.0, 43.5, 0.678, 23.0, 0.0), (2.0, 75.0, 64.0, 24.0, 55.0, 29.7, 0.37, 33.0, 0.0), (8.0, 179.0, 72.0, 42.0, 130.0, 32.7, 0.719, 36.0, 1.0), (6.0, 85.0, 78.0, 0.0, 0.0, 31.2, 0.382, 42.0, 0.0), (0.0, 129.0, 110.0, 46.0, 130.0, 67.1, 0.319, 26.0, 1.0), (5.0, 143.0, 78.0, 0.0, 0.0, 45.0, 0.19, 47.0, 0.0), (5.0, 130.0, 82.0, 0.0, 0.0, 39.1, 0.956, 37.0, 1.0), (6.0, 87.0, 80.0, 0.0, 0.0, 23.2, 0.084, 32.0, 0.0), (0.0, 119.0, 64.0, 18.0, 92.0, 34.9, 0.725, 23.0, 0.0), (1.0, 0.0, 74.0, 20.0, 23.0, 27.7, 0.299, 21.0, 0.0), (5.0, 73.0, 60.0, 0.0, 0.0, 26.8, 0.268, 27.0, 0.0), (4.0, 141.0, 74.0, 0.0, 0.0, 27.6, 0.244, 40.0, 0.0), (7.0, 194.0, 68.0, 28.0, 0.0, 35.9, 0.745, 41.0, 1.0), (8.0, 181.0, 68.0, 36.0, 495.0, 30.1, 0.615, 60.0, 1.0), (1.0, 128.0, 98.0, 41.0, 58.0, 32.0, 1.321, 33.0, 1.0), (8.0, 109.0, 76.0, 39.0, 114.0, 27.9, 0.64, 31.0, 1.0), (5.0, 139.0, 80.0, 35.0, 160.0, 31.6, 0.361, 25.0, 1.0), (3.0, 111.0, 62.0, 0.0, 0.0, 22.6, 0.142, 21.0, 0.0), (9.0, 123.0, 70.0, 44.0, 94.0, 33.1, 0.374, 40.0, 0.0), (7.0, 159.0, 66.0, 0.0, 0.0, 30.4, 0.383, 36.0, 1.0), (11.0, 135.0, 0.0, 0.0, 0.0, 52.3, 0.578, 40.0, 1.0), (8.0, 85.0, 55.0, 20.0, 0.0, 24.4, 0.136, 42.0, 0.0), (5.0, 158.0, 84.0, 41.0, 210.0, 39.4, 0.395, 29.0, 1.0), (1.0, 105.0, 58.0, 0.0, 0.0, 24.3, 0.187, 21.0, 0.0), (3.0, 107.0, 62.0, 13.0, 48.0, 22.9, 0.678, 23.0, 1.0), (4.0, 109.0, 64.0, 44.0, 99.0, 34.8, 0.905, 26.0, 1.0), (4.0, 148.0, 60.0, 27.0, 318.0, 30.9, 0.15, 29.0, 1.0), (0.0, 113.0, 80.0, 16.0, 0.0, 31.0, 0.874, 21.0, 0.0), (1.0, 138.0, 82.0, 0.0, 0.0, 40.1, 0.236, 28.0, 0.0), (0.0, 108.0, 68.0, 20.0, 0.0, 27.3, 0.787, 32.0, 0.0), (2.0, 99.0, 70.0, 16.0, 44.0, 20.4, 0.235, 27.0, 0.0), (6.0, 103.0, 72.0, 32.0, 190.0, 37.7, 0.324, 55.0, 0.0), (5.0, 111.0, 72.0, 28.0, 0.0, 23.9, 0.407, 27.0, 0.0), (8.0, 196.0, 76.0, 29.0, 280.0, 37.5, 0.605, 57.0, 1.0), (5.0, 162.0, 104.0, 0.0, 0.0, 37.7, 0.151, 52.0, 1.0), (1.0, 96.0, 64.0, 27.0, 87.0, 33.2, 0.289, 21.0, 0.0), (7.0, 184.0, 84.0, 33.0, 0.0, 35.5, 0.355, 41.0, 1.0), (2.0, 81.0, 60.0, 22.0, 0.0, 27.7, 0.29, 25.0, 0.0), (0.0, 147.0, 85.0, 54.0, 0.0, 42.8, 0.375, 24.0, 0.0), (7.0, 179.0, 95.0, 31.0, 0.0, 34.2, 0.164, 60.0, 0.0), (0.0, 140.0, 65.0, 26.0, 130.0, 42.6, 0.431, 24.0, 1.0), (9.0, 112.0, 82.0, 32.0, 175.0, 34.2, 0.26, 36.0, 1.0), (12.0, 151.0, 70.0, 40.0, 271.0, 41.8, 0.742, 38.0, 1.0), (5.0, 109.0, 62.0, 41.0, 129.0, 35.8, 0.514, 25.0, 1.0), (6.0, 125.0, 68.0, 30.0, 120.0, 30.0, 0.464, 32.0, 0.0), (5.0, 85.0, 74.0, 22.0, 0.0, 29.0, 1.224, 32.0, 1.0), (5.0, 112.0, 66.0, 0.0, 0.0, 37.8, 0.261, 41.0, 1.0), (0.0, 177.0, 60.0, 29.0, 478.0, 34.6, 1.072, 21.0, 1.0), (2.0, 158.0, 90.0, 0.0, 0.0, 31.6, 0.805, 66.0, 1.0), (7.0, 119.0, 0.0, 0.0, 0.0, 25.2, 0.209, 37.0, 0.0), (7.0, 142.0, 60.0, 33.0, 190.0, 28.8, 0.687, 61.0, 0.0), (1.0, 100.0, 66.0, 15.0, 56.0, 23.6, 0.666, 26.0, 0.0), (1.0, 87.0, 78.0, 27.0, 32.0, 34.6, 0.101, 22.0, 0.0), (0.0, 101.0, 76.0, 0.0, 0.0, 35.7, 0.198, 26.0, 0.0), (3.0, 162.0, 52.0, 38.0, 0.0, 37.2, 0.652, 24.0, 1.0), (4.0, 197.0, 70.0, 39.0, 744.0, 36.7, 2.329, 31.0, 0.0), (0.0, 117.0, 80.0, 31.0, 53.0, 45.2, 0.089, 24.0, 0.0), (4.0, 142.0, 86.0, 0.0, 0.0, 44.0, 0.645, 22.0, 1.0), (6.0, 134.0, 80.0, 37.0, 370.0, 46.2, 0.238, 46.0, 1.0), (1.0, 79.0, 80.0, 25.0, 37.0, 25.4, 0.583, 22.0, 0.0), (4.0, 122.0, 68.0, 0.0, 0.0, 35.0, 0.394, 29.0, 0.0), (3.0, 74.0, 68.0, 28.0, 45.0, 29.7, 0.293, 23.0, 0.0), (4.0, 171.0, 72.0, 0.0, 0.0, 43.6, 0.479, 26.0, 1.0), (7.0, 181.0, 84.0, 21.0, 192.0, 35.9, 0.586, 51.0, 1.0), (0.0, 179.0, 90.0, 27.0, 0.0, 44.1, 0.686, 23.0, 1.0), (9.0, 164.0, 84.0, 21.0, 0.0, 30.8, 0.831, 32.0, 1.0), (0.0, 104.0, 76.0, 0.0, 0.0, 18.4, 0.582, 27.0, 0.0), (1.0, 91.0, 64.0, 24.0, 0.0, 29.2, 0.192, 21.0, 0.0), (4.0, 91.0, 70.0, 32.0, 88.0, 33.1, 0.446, 22.0, 0.0), (3.0, 139.0, 54.0, 0.0, 0.0, 25.6, 0.402, 22.0, 1.0), (6.0, 119.0, 50.0, 22.0, 176.0, 27.1, 1.318, 33.0, 1.0), (2.0, 146.0, 76.0, 35.0, 194.0, 38.2, 0.329, 29.0, 0.0), (9.0, 184.0, 85.0, 15.0, 0.0, 30.0, 1.213, 49.0, 1.0), (10.0, 122.0, 68.0, 0.0, 0.0, 31.2, 0.258, 41.0, 0.0), (0.0, 165.0, 90.0, 33.0, 680.0, 52.3, 0.427, 23.0, 0.0), (9.0, 124.0, 70.0, 33.0, 402.0, 35.4, 0.282, 34.0, 0.0), (1.0, 111.0, 86.0, 19.0, 0.0, 30.1, 0.143, 23.0, 0.0), (9.0, 106.0, 52.0, 0.0, 0.0, 31.2, 0.38, 42.0, 0.0), (2.0, 129.0, 84.0, 0.0, 0.0, 28.0, 0.284, 27.0, 0.0), (2.0, 90.0, 80.0, 14.0, 55.0, 24.4, 0.249, 24.0, 0.0), (0.0, 86.0, 68.0, 32.0, 0.0, 35.8, 0.238, 25.0, 0.0), (12.0, 92.0, 62.0, 7.0, 258.0, 27.6, 0.926, 44.0, 1.0), (1.0, 113.0, 64.0, 35.0, 0.0, 33.6, 0.543, 21.0, 1.0), (3.0, 111.0, 56.0, 39.0, 0.0, 30.1, 0.557, 30.0, 0.0), (2.0, 114.0, 68.0, 22.0, 0.0, 28.7, 0.092, 25.0, 0.0), (1.0, 193.0, 50.0, 16.0, 375.0, 25.9, 0.655, 24.0, 0.0), (11.0, 155.0, 76.0, 28.0, 150.0, 33.3, 1.353, 51.0, 1.0), (3.0, 191.0, 68.0, 15.0, 130.0, 30.9, 0.299, 34.0, 0.0), (3.0, 141.0, 0.0, 0.0, 0.0, 30.0, 0.761, 27.0, 1.0), (4.0, 95.0, 70.0, 32.0, 0.0, 32.1, 0.612, 24.0, 0.0), (3.0, 142.0, 80.0, 15.0, 0.0, 32.4, 0.2, 63.0, 0.0), (4.0, 123.0, 62.0, 0.0, 0.0, 32.0, 0.226, 35.0, 1.0), (5.0, 96.0, 74.0, 18.0, 67.0, 33.6, 0.997, 43.0, 0.0), (0.0, 138.0, 0.0, 0.0, 0.0, 36.3, 0.933, 25.0, 1.0), (2.0, 128.0, 64.0, 42.0, 0.0, 40.0, 1.101, 24.0, 0.0), (0.0, 102.0, 52.0, 0.0, 0.0, 25.1, 0.078, 21.0, 0.0), (2.0, 146.0, 0.0, 0.0, 0.0, 27.5, 0.24, 28.0, 1.0), (10.0, 101.0, 86.0, 37.0, 0.0, 45.6, 1.136, 38.0, 1.0), (2.0, 108.0, 62.0, 32.0, 56.0, 25.2, 0.128, 21.0, 0.0), (3.0, 122.0, 78.0, 0.0, 0.0, 23.0, 0.254, 40.0, 0.0), (1.0, 71.0, 78.0, 50.0, 45.0, 33.2, 0.422, 21.0, 0.0), (13.0, 106.0, 70.0, 0.0, 0.0, 34.2, 0.251, 52.0, 0.0), (2.0, 100.0, 70.0, 52.0, 57.0, 40.5, 0.677, 25.0, 0.0), (7.0, 106.0, 60.0, 24.0, 0.0, 26.5, 0.296, 29.0, 1.0), (0.0, 104.0, 64.0, 23.0, 116.0, 27.8, 0.454, 23.0, 0.0), (5.0, 114.0, 74.0, 0.0, 0.0, 24.9, 0.744, 57.0, 0.0), (2.0, 108.0, 62.0, 10.0, 278.0, 25.3, 0.881, 22.0, 0.0), (0.0, 146.0, 70.0, 0.0, 0.0, 37.9, 0.334, 28.0, 1.0), (10.0, 129.0, 76.0, 28.0, 122.0, 35.9, 0.28, 39.0, 0.0), (7.0, 133.0, 88.0, 15.0, 155.0, 32.4, 0.262, 37.0, 0.0), (7.0, 161.0, 86.0, 0.0, 0.0, 30.4, 0.165, 47.0, 1.0), (2.0, 108.0, 80.0, 0.0, 0.0, 27.0, 0.259, 52.0, 1.0), (7.0, 136.0, 74.0, 26.0, 135.0, 26.0, 0.647, 51.0, 0.0), (5.0, 155.0, 84.0, 44.0, 545.0, 38.7, 0.619, 34.0, 0.0), (1.0, 119.0, 86.0, 39.0, 220.0, 45.6, 0.808, 29.0, 1.0), (4.0, 96.0, 56.0, 17.0, 49.0, 20.8, 0.34, 26.0, 0.0), (5.0, 108.0, 72.0, 43.0, 75.0, 36.1, 0.263, 33.0, 0.0), (0.0, 78.0, 88.0, 29.0, 40.0, 36.9, 0.434, 21.0, 0.0), (0.0, 107.0, 62.0, 30.0, 74.0, 36.6, 0.757, 25.0, 1.0), (2.0, 128.0, 78.0, 37.0, 182.0, 43.3, 1.224, 31.0, 1.0), (1.0, 128.0, 48.0, 45.0, 194.0, 40.5, 0.613, 24.0, 1.0), (0.0, 161.0, 50.0, 0.0, 0.0, 21.9, 0.254, 65.0, 0.0), (6.0, 151.0, 62.0, 31.0, 120.0, 35.5, 0.692, 28.0, 0.0), (2.0, 146.0, 70.0, 38.0, 360.0, 28.0, 0.337, 29.0, 1.0), (0.0, 126.0, 84.0, 29.0, 215.0, 30.7, 0.52, 24.0, 0.0), (14.0, 100.0, 78.0, 25.0, 184.0, 36.6, 0.412, 46.0, 1.0), (8.0, 112.0, 72.0, 0.0, 0.0, 23.6, 0.84, 58.0, 0.0), (0.0, 167.0, 0.0, 0.0, 0.0, 32.3, 0.839, 30.0, 1.0), (2.0, 144.0, 58.0, 33.0, 135.0, 31.6, 0.422, 25.0, 1.0), (5.0, 77.0, 82.0, 41.0, 42.0, 35.8, 0.156, 35.0, 0.0), (5.0, 115.0, 98.0, 0.0, 0.0, 52.9, 0.209, 28.0, 1.0), (3.0, 150.0, 76.0, 0.0, 0.0, 21.0, 0.207, 37.0, 0.0), (2.0, 120.0, 76.0, 37.0, 105.0, 39.7, 0.215, 29.0, 0.0), (10.0, 161.0, 68.0, 23.0, 132.0, 25.5, 0.326, 47.0, 1.0), (0.0, 137.0, 68.0, 14.0, 148.0, 24.8, 0.143, 21.0, 0.0), (0.0, 128.0, 68.0, 19.0, 180.0, 30.5, 1.391, 25.0, 1.0), (2.0, 124.0, 68.0, 28.0, 205.0, 32.9, 0.875, 30.0, 1.0), (6.0, 80.0, 66.0, 30.0, 0.0, 26.2, 0.313, 41.0, 0.0), (0.0, 106.0, 70.0, 37.0, 148.0, 39.4, 0.605, 22.0, 0.0), (2.0, 155.0, 74.0, 17.0, 96.0, 26.6, 0.433, 27.0, 1.0), (3.0, 113.0, 50.0, 10.0, 85.0, 29.5, 0.626, 25.0, 0.0), (7.0, 109.0, 80.0, 31.0, 0.0, 35.9, 1.127, 43.0, 1.0), (2.0, 112.0, 68.0, 22.0, 94.0, 34.1, 0.315, 26.0, 0.0), (3.0, 99.0, 80.0, 11.0, 64.0, 19.3, 0.284, 30.0, 0.0), (3.0, 182.0, 74.0, 0.0, 0.0, 30.5, 0.345, 29.0, 1.0), (3.0, 115.0, 66.0, 39.0, 140.0, 38.1, 0.15, 28.0, 0.0), (6.0, 194.0, 78.0, 0.0, 0.0, 23.5, 0.129, 59.0, 1.0), (4.0, 129.0, 60.0, 12.0, 231.0, 27.5, 0.527, 31.0, 0.0), (3.0, 112.0, 74.0, 30.0, 0.0, 31.6, 0.197, 25.0, 1.0), (0.0, 124.0, 70.0, 20.0, 0.0, 27.4, 0.254, 36.0, 1.0), (13.0, 152.0, 90.0, 33.0, 29.0, 26.8, 0.731, 43.0, 1.0), (2.0, 112.0, 75.0, 32.0, 0.0, 35.7, 0.148, 21.0, 0.0), (1.0, 157.0, 72.0, 21.0, 168.0, 25.6, 0.123, 24.0, 0.0), (1.0, 122.0, 64.0, 32.0, 156.0, 35.1, 0.692, 30.0, 1.0), (10.0, 179.0, 70.0, 0.0, 0.0, 35.1, 0.2, 37.0, 0.0), (2.0, 102.0, 86.0, 36.0, 120.0, 45.5, 0.127, 23.0, 1.0), (6.0, 105.0, 70.0, 32.0, 68.0, 30.8, 0.122, 37.0, 0.0), (8.0, 118.0, 72.0, 19.0, 0.0, 23.1, 1.476, 46.0, 0.0), (2.0, 87.0, 58.0, 16.0, 52.0, 32.7, 0.166, 25.0, 0.0), (1.0, 180.0, 0.0, 0.0, 0.0, 43.3, 0.282, 41.0, 1.0), (12.0, 106.0, 80.0, 0.0, 0.0, 23.6, 0.137, 44.0, 0.0), (1.0, 95.0, 60.0, 18.0, 58.0, 23.9, 0.26, 22.0, 0.0), (0.0, 165.0, 76.0, 43.0, 255.0, 47.9, 0.259, 26.0, 0.0), (0.0, 117.0, 0.0, 0.0, 0.0, 33.8, 0.932, 44.0, 0.0), (5.0, 115.0, 76.0, 0.0, 0.0, 31.2, 0.343, 44.0, 1.0), (9.0, 152.0, 78.0, 34.0, 171.0, 34.2, 0.893, 33.0, 1.0), (7.0, 178.0, 84.0, 0.0, 0.0, 39.9, 0.331, 41.0, 1.0), (1.0, 130.0, 70.0, 13.0, 105.0, 25.9, 0.472, 22.0, 0.0), (1.0, 95.0, 74.0, 21.0, 73.0, 25.9, 0.673, 36.0, 0.0), (1.0, 0.0, 68.0, 35.0, 0.0, 32.0, 0.389, 22.0, 0.0), (5.0, 122.0, 86.0, 0.0, 0.0, 34.7, 0.29, 33.0, 0.0), (8.0, 95.0, 72.0, 0.0, 0.0, 36.8, 0.485, 57.0, 0.0), (8.0, 126.0, 88.0, 36.0, 108.0, 38.5, 0.349, 49.0, 0.0), (1.0, 139.0, 46.0, 19.0, 83.0, 28.7, 0.654, 22.0, 0.0), (3.0, 116.0, 0.0, 0.0, 0.0, 23.5, 0.187, 23.0, 0.0), (3.0, 99.0, 62.0, 19.0, 74.0, 21.8, 0.279, 26.0, 0.0), (5.0, 0.0, 80.0, 32.0, 0.0, 41.0, 0.346, 37.0, 1.0), (4.0, 92.0, 80.0, 0.0, 0.0, 42.2, 0.237, 29.0, 0.0), (4.0, 137.0, 84.0, 0.0, 0.0, 31.2, 0.252, 30.0, 0.0), (3.0, 61.0, 82.0, 28.0, 0.0, 34.4, 0.243, 46.0, 0.0), (1.0, 90.0, 62.0, 12.0, 43.0, 27.2, 0.58, 24.0, 0.0), (3.0, 90.0, 78.0, 0.0, 0.0, 42.7, 0.559, 21.0, 0.0), (9.0, 165.0, 88.0, 0.0, 0.0, 30.4, 0.302, 49.0, 1.0), (1.0, 125.0, 50.0, 40.0, 167.0, 33.3, 0.962, 28.0, 1.0), (13.0, 129.0, 0.0, 30.0, 0.0, 39.9, 0.569, 44.0, 1.0), (12.0, 88.0, 74.0, 40.0, 54.0, 35.3, 0.378, 48.0, 0.0), (1.0, 196.0, 76.0, 36.0, 249.0, 36.5, 0.875, 29.0, 1.0), (5.0, 189.0, 64.0, 33.0, 325.0, 31.2, 0.583, 29.0, 1.0), (5.0, 158.0, 70.0, 0.0, 0.0, 29.8, 0.207, 63.0

In [101]:
cursor.execute(query)

In [102]:
cursor.execute('select * from diabetes;')
data = cursor.fetchall()

In [103]:
len(data)

768

In [104]:
pd.DataFrame(data)

      0    1   2   3    4   5  6   7  8
0     6  148  72  35    0  34  1  50  1
1     1   85  66  29    0  27  0  31  0
2     8  183  64   0    0  23  1  32  1
3     1   89  66  23   94  28  0  21  0
4     0  137  40  35  168  43  2  33  1
..   ..  ...  ..  ..  ...  .. ..  .. ..
763  10  101  76  48  180  33  0  63  0
764   2  122  70  27    0  37  0  27  0
765   5  121  72  23  112  26  0  30  0
766   1  126  60   0    0  30  0  47  1
767   1   93  70  31    0  30  0  23  0

[768 rows x 9 columns]

In [105]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

# SELECT QUERY

In [106]:
cursor.execute('SELECT * FROM diabetes limit 20;')
out = cursor.fetchall()

In [108]:
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,34,1,50,1
1,1,85,66,29,0,27,0,31,0
2,8,183,64,0,0,23,1,32,1
3,1,89,66,23,94,28,0,21,0
4,0,137,40,35,168,43,2,33,1
5,5,116,74,0,0,26,0,30,0
6,3,78,50,32,88,31,0,26,1
7,10,115,0,0,0,35,0,29,0
8,2,197,70,45,543,31,0,53,1
9,8,125,96,0,0,0,0,54,1
10,4,110,92,0,0,38,0,30,0
11,10,168,74,0,0,38,1,34,1
12,10,139,80,0,0,27,1,57,0
13,1,189,60,23,846,30,0,59,1
14,5,166,72,19,175,26,1,51,1
15,7,100,0,0,0,30,0,32,1
16,0,118,84,47,230,46,1,31,1
17,7,107,74,0,0,30,0,31,1
18,1,103,30,38,83,43,0,33,0
19,1,115,70,30,96,35,1,32,1

In [110]:
cursor.execute('Select Age, BMI from diabetes limit 5')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   AGE  BMI
0   50   34
1   31   27
2   32   23
3   21   28
4   33   43

In [111]:
cursor.execute('select age, bmi, outcome from diabetes where outcome =1 limit 5;')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   AGE  BMI  OUTCOME
0   50   34        1
1   32   23        1
2   33   43        1
3   26   31        1
4   53   31        1

In [112]:
cursor.execute('select age, bmi, outcome from diabetes where outcome =1 and age>30 limit 5')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   AGE  BMI  OUTCOME
0   50   34        1
1   32   23        1
2   33   43        1
3   53   31        1
4   54    0        1

In [114]:
cursor.execute('select age, outcome from diabetes where outcome =1 and age >=34 and age <=35 limit 5')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   AGE  OUTCOME
0   34        1
1   35        1
2   35        1
3   35        1
4   35        1

In [115]:
cursor.execute('select age from diabetes where age between 35 and 36;')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

    AGE
0    35
1    36
2    36
3    36
4    36
5    36
6    36
7    36
8    36
9    35
10   35
11   36
12   36
13   35
14   35
15   35
16   36
17   36
18   35
19   35
20   35
21   35
22   36
23   36
24   36
25   36

In [116]:
cursor.execute('select count(pregnancies) from diabetes;')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   COUNT(PREGNANCIES)
0                 768

In [117]:
cursor.execute('select * from diabetes where pregnancies = 1;')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,1,85,66,29,0,27,0,31,0
1,1,89,66,23,94,28,0,21,0
2,1,189,60,23,846,30,0,59,1
3,1,103,30,38,83,43,0,33,0
4,1,115,70,30,96,35,1,32,1
...,...,...,...,...,...,...,...,...,...
130,1,121,78,39,74,39,0,28,0
131,1,128,88,39,110,37,1,37,1
132,1,106,76,0,0,38,0,26,0
133,1,126,60,0,0,30,0,47,1
134,1,93,70,31,0,30,0,23,0

In [118]:
cursor.execute('select count(*) as whole_count from diabetes where pregnancies = 2;')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   WHOLE_COUNT
0          103

In [119]:
cursor.execute('select count(*) as whole_count from diabetes where pregnancies in (1, 2);')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   WHOLE_COUNT
0          238

In [120]:
cursor.execute('select count(*) as whole_count from diabetes where pregnancies not in (1, 2, 3,4, 5);')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   WHOLE_COUNT
0          330

In [121]:
cursor.execute('select avg(bloodpressure) as Avg_BP, count(*) from diabetes where outcome = 1 and pregnancies >10;')
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

      AVG_BP  COUNT(*)
0  71.300000        20

In [123]:
query = """ select   count(pregnancies), sum(outcome) from diabetes
        where outcome = 1
        group by pregnancies, outcome"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

    COUNT(PREGNANCIES)  SUM(OUTCOME)
0                   16            16
1                   22            22
2                   38            38
3                   27            27
4                   19            19
5                   10            10
6                   29            29
7                   21            21
8                   25            25
9                   18            18
10                   5             5
11                   1             1
12                   1             1
13                   4             4
14                  23            23
15                   2             2
16                   7             7

In [124]:

query = """ select  pregnancies, count(pregnancies), sum(outcome) from diabetes
        
        group by pregnancies, outcome"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

    PREGNANCIES  COUNT(PREGNANCIES)  SUM(OUTCOME)
0             6                  16            16
1             1                 106             0
2             8                  22            22
3             0                  38            38
4             5                  36             0
5             3                  27            27
6            10                  14             0
7             2                  19            19
8             4                  45             0
9            10                  10            10
10            5                  21            21
11            7                  25            25
12            3                  48             0
13            8                  16             0
14            9                  18            18
15           11                   7             7
16            6                  34             0
17            7                  20             0
18            0                  73             0
19           13                   5             5
20           12                   4             4
21           12                   5             0
22           13                   5             0
23           11                   4             0
24            4                  23            23
25            2                  84             0
26           15                   1             1
27            9                  10             0
28            1                  29            29
29           17                   1             1
30           14                   2             2

In [125]:
query = """select min(pregnancies) as minpre, max(bloodpressure) from diabetes """
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   MINPRE  MAX(BLOODPRESSURE)
0       0                 122

In [ ]:
curs.execute('select least(4,5,2,6,7)')
curs.execute('select power(4,5)')
curs.execute('select greatest(4,5)')
curs.execute('select floor(20.5)')
curs.execute('select ceiling(20.61)')
curs.execute('select sum(4+7)')
data=curs.fetchall()
pd.DataFrame(data, columns=[i[0] for i in curs.description])

In [126]:
query = """ select count(pregnancies) from diabetes where outcome =0 and bloodpressure between 40 and 50"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   COUNT(PREGNANCIES)
0                  18

In [127]:
query = """ select count(pregnancies) from diabetes where outcome =0 and bloodpressure not between 40 and 50"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   COUNT(PREGNANCIES)
0                 482

In [ ]:
query = """ """
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

In [128]:
query = """ select age, bloodpressure, insulin, outcome from diabetes where bloodpressure >100 and age in 
            (select age from diabetes where outcome = 1 and insulin between 80 and 120)"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   AGE  BLOODPRESSURE  INSULIN  OUTCOME
0   37            108        0        1
1   27            122        0        0
2   26            110      130        1
3   41            104        0        1
4   37            110        0        0
5   43            106      231        1
6   47            106       49        0

# partition

In [129]:
query = """select age, pregnancies, count(*) over (partition by pregnancies order by age desc) as countw
from diabetes """
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

     AGE  PREGNANCIES  COUNTW
0     50            6      11
1     31            1      28
2     32            8      36
3     21            1     135
4     33            0      17
..   ...          ...     ...
763   63           10       1
764   27            2      33
765   30            5      42
766   47            1       5
767   23            1      90

[768 rows x 3 columns]

In [131]:
query = """select age, pregnancies, count(*) over (partition by pregnancies order by age desc) as countw
from diabetes where pregnancies <5"""
cursor.execute(query)
out = cursor.fetchall()
dff =pd.DataFrame(out, columns= [i[0] for i in cursor.description])
dff

     AGE  PREGNANCIES  COUNTW
0     31            1      28
1     21            1     135
2     33            0      17
3     26            3      43
4     53            2       6
..   ...          ...     ...
487   26            1      56
488   22            2      89
489   27            2      33
490   47            1       5
491   23            1      90

[492 rows x 3 columns]

In [133]:
dff[dff['AGE']==31]

     AGE  PREGNANCIES  COUNTW
0     31            1      28
7     31            0      23
24    31            0      23
51    31            1      28
79    31            2      13
130   31            4      32
173   31            2      13
192   31            4      32
241   31            4      32
247   31            4      32
265   31            4      32
307   31            0      23
335   31            0      23
411   31            4      32
444   31            3      20
457   31            3      20

In [137]:
dff.sort_values('AGE', ascending=False)

     AGE  PREGNANCIES  COUNTW
289   72            2       1
427   70            4       1
217   67            4       2
342   67            0       1
125   66            2       2
..   ...          ...     ...
124   21            0     111
139   21            1     135
23    21            1     135
27    21            2     103
1     21            1     135

[492 rows x 3 columns]

In [134]:
query = """select age, pregnancies, count(*) over (partition by pregnancies order by age desc) as countw
from diabetes where pregnancies <5 and age>25"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

     AGE  PREGNANCIES  COUNTW
0     31            1      28
1     33            0      17
2     26            3      43
3     53            2       6
4     30            4      36
..   ...          ...     ...
228   37            1      18
229   52            0       6
230   26            1      56
231   27            2      33
232   47            1       5

[233 rows x 3 columns]

In [138]:
query = """ SELECT Pregnancies,avg(Age) OVER (PARTITION BY pregnancies order by age DESC ) as Countw FROM  diabetes """
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

     PREGNANCIES     COUNTW
0              6  57.363636
1              1  40.714286
2              8  46.416667
3              1  27.370370
4              0  46.705882
..           ...        ...
763           10  63.000000
764            2  35.909091
765            5  43.380952
766            1  54.000000
767            1  30.311111

[768 rows x 2 columns]

In [140]:
query = """ select distinct(pregnancies), avg(age) over (partition by pregnancies order by pregnancies desc)as avgr from diabetes"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

    PREGNANCIES       AVGR
0             6  39.340000
1             1  27.370370
2             8  45.368421
3             0  27.603604
4             5  39.035088
5             3  29.026667
6            10  42.666667
7            11  44.545455
8            13  44.500000
9            15  43.000000
10           12  47.444444
11            9  44.178571
12           14  42.000000
13            4  32.779412
14            7  41.111111
15           17  47.000000
16            2  27.194175

In [141]:
query = """select distinct(pregnancies), avg(age) over (partition by pregnancies, age order by pregnancies desc) as avgr from diabetes """
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

     PREGNANCIES       AVGR
0              6  50.000000
1              1  31.000000
2              8  32.000000
3              0  33.000000
4              5  30.000000
..           ...        ...
287           11  42.000000
288            6  54.000000
289            3  52.000000
290            6  43.000000
291           10  40.000000

[292 rows x 2 columns]

# Rank

In [142]:
query = """ select age, pregnancies, bloodpressure, rank() over (partition by pregnancies order by bloodpressure desc) as rank from diabetes"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

     AGE  PREGNANCIES  BLOODPRESSURE  RANK
0     47           10            106     1
1     34           10             98     2
2     38           10             86     3
3     56           10             85     4
4     54           10             84     5
..   ...          ...            ...   ...
763   26            1             30   132
764   21            1             24   134
765   41            1              0   135
766   46           14             78     1
767   38           14             62     2

[768 rows x 4 columns]

In [146]:
query = """select age, bloodpressure, pregnancies, DENSE_RANK() OVER (PARTITION BY PREGNANCIES ORDER BY BLOODPRESSURE DESC) AS DENSERANK  from diabetes"""
cursor.execute(query)
out = cursor.fetchall()
dff= pd.DataFrame(out, columns= [i[0] for i in cursor.description])
dff

     AGE  BLOODPRESSURE  PREGNANCIES  DENSERANK
0     47            106           10          1
1     34             98           10          2
2     38             86           10          3
3     56             85           10          4
4     54             84           10          5
..   ...            ...          ...        ...
763   26             30            1         31
764   21             24            1         32
765   41              0            1         33
766   46             78           14          1
767   38             62           14          2

[768 rows x 4 columns]

In [150]:
dff[dff['AGE']==21]

     AGE  BLOODPRESSURE  PREGNANCIES  DENSERANK
206   21             78            3          9
244   21             62            3         17
246   21             60            3         18
352   21             96            0          4
357   21             90            0          6
..   ...            ...          ...        ...
741   21             58            1         22
745   21             56            1         23
747   21             55            1         24
753   21             50            1         26
764   21             24            1         32

[63 rows x 4 columns]

# Group by

In [152]:
query = """select age, pregnancies, outcome, count(*) from diabetes group by age, pregnancies, outcome """
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

     AGE  PREGNANCIES  OUTCOME  COUNT(*)
0     50            6        1         3
1     31            1        0         1
2     32            8        1         1
3     21            1        0        22
4     33            0        1         2
..   ...          ...      ...       ...
380   24            2        1         1
381   33            9        0         1
382   47            1        1         1
383   31            6        1         1
384   64            8        0         1

[385 rows x 4 columns]

In [153]:
query = """ select age, pregnancies, outcome, count(*) from diabetes
where pregnancies = 3 and outcome =0 
group by age, pregnancies, outcome;"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

    AGE  PREGNANCIES  OUTCOME  COUNT(*)
0    27            3        0         3
1    22            3        0         8
2    26            3        0         4
3    25            3        0         5
4    30            3        0         3
5    55            3        0         1
6    29            3        0         1
7    21            3        0         3
8    23            3        0         2
9    34            3        0         1
10   63            3        0         1
11   40            3        0         2
12   28            3        0         3
13   24            3        0         5
14   32            3        0         1
15   46            3        0         1
16   37            3        0         1
17   39            3        0         2
18   38            3        0         1

In [155]:
query = """select pregnancies, outcome, count(*) from diabetes 
group by outcome, pregnancies
order by pregnancies desc; """
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

    PREGNANCIES  OUTCOME  COUNT(*)
0            17        1         1
1            15        1         1
2            14        1         2
3            13        1         5
4            13        0         5
5            12        0         5
6            12        1         4
7            11        1         7
8            11        0         4
9            10        1        10
10           10        0        14
11            9        1        18
12            9        0        10
13            8        0        16
14            8        1        22
15            7        1        25
16            7        0        20
17            6        1        16
18            6        0        34
19            5        1        21
20            5        0        36
21            4        0        45
22            4        1        23
23            3        1        27
24            3        0        48
25            2        1        19
26            2        0        84
27            1        0       106
28            1        1        29
29            0        1        38
30            0        0        73

In [156]:
query = """select pregnancies, outcome, count(*) from diabetes 
where pregnancies =3 and outcome = 0
group by outcome, pregnancies
order by pregnancies"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   PREGNANCIES  OUTCOME  COUNT(*)
0            3        0        48

In [157]:
query = """ select pregnancies, count(*) as count, avg(age) as avg_age from diabetes group by pregnancies"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

    PREGNANCIES  COUNT    AVG_AGE
0             6     50  39.340000
1             1    135  27.370370
2             8     38  45.368421
3             0    111  27.603604
4             5     57  39.035088
5             3     75  29.026667
6             2    103  27.194175
7             4     68  32.779412
8             9     28  44.178571
9            11     11  44.545455
10           13     10  44.500000
11           15      1  43.000000
12           17      1  47.000000
13           12      9  47.444444
14           10     24  42.666667
15           14      2  42.000000
16            7     45  41.111111

# constraints

In [158]:
cursor.execute("CREATE TABLE aadhardetails (name VARCHAR(30),ADDRESS VARCHAR(20),AADHARID INTEGER PRIMARY KEY)")

In [159]:
cursor.execute("INSERT INTO aadhardetails (name,address,aadharid) VALUES('nethaji','coimbatore',12345678)")

In [160]:
cursor.execute("CREATE TABLE bankacc(name VARCHAR(20),type VARCHAR(2),accno INT PRIMARY KEY,aadhar INT ,FOREIGN KEY (aadhar)REFERENCES aadhardetails(aadharid))")

In [161]:
cursor.execute("INSERT INTO bankacc (name,type,accno,aadhar) VALUES('neteeaji','fd',21234451,12345678)")

In [162]:
cursor.execute("CREATE TABLE pancard(name VARCHAR(20),dob INT,panid VARCHAR(16),aadhar INT ,FOREIGN KEY(aadhar) REFERENCES aadhardetails(aadharid),PRIMARY KEY(panid,aadhar))")

# joins

In [163]:
cursor.execute("CREATE TABLE students(ID INT PRIMARY KEY,NAME VARCHAR(20),PH INT) ")

In [164]:
cursor.execute("INSERT INTO students (ID,NAME,PH) VALUES(1,'prakash',12345)")

cursor.execute("INSERT INTO students (ID,NAME,PH) VALUES(2,'prakash k',123456)")

In [165]:
cursor.execute("CREATE TABLE marks(ID INT ,maths int,phy INT,chem INT) ")

In [167]:
cursor.execute("INSERT INTO marks (ID,maths,phy,chem) VALUES(2,91,81,50)")

In [168]:
 # inner join

query = """ select std.ID, std.name, mark.maths, mark.phy from students as std
INNER JOIN MARKS as mark on std.ID = mark.ID"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   ID       NAME  MATHS  PHY
0   2  prakash k     91   81

In [170]:

query = """ select students.id, students.name, marks.maths, marks.phy, marks.chem 
            from students, marks
            where students.ID= marks.ID;"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   ID       NAME  MATHS  PHY  CHEM
0   2  prakash k     91   81    50

In [173]:

query = """ select students.id, students.name, marks.maths, marks.phy, marks.chem 
            from students, marks
            where students.ID != marks.ID;"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   ID     NAME  MATHS  PHY  CHEM
0   1  prakash     91   81    50

In [174]:
cursor.execute("CREATE TABLE sports(ID INT ,indoor int,outdoor INT,croosfit INT) ")

In [175]:
cursor.execute("INSERT INTO sports (ID,indoor,outdoor,croosfit) VALUES(2,91,80,50)")

In [190]:

query = """ select students.id, students.name, marks.maths, marks.phy, marks.chem, sports.indoor, sports.outdoor, sports.croosfit
from students
INNER JOIN marks on students.id = marks.id 
INNER JOIN sports on students.id = sports.id;"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   ID       NAME  MATHS  PHY  CHEM  INDOOR  OUTDOOR  CROOSFIT
0   2  prakash k     91   81    50      91       80        50

In [192]:
 # outer join

query = """ select std.ID, std.name, mark.maths, mark.phy from students as std
left JOIN MARKS as mark on std.ID = mark.ID"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   ID       NAME  MATHS   PHY
0   1    prakash    NaN   NaN
1   2  prakash k   91.0  81.0

In [193]:

query = """ select std.ID, std.name, mark.maths, mark.phy from students as std
right JOIN MARKS as mark on std.ID = mark.ID"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   ID       NAME  MATHS  PHY
0   2  prakash k     91   81

In [194]:

query = """ select std.ID, std.name, mark.maths, mark.phy from students as std
full JOIN MARKS as mark on std.ID = mark.ID"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   ID       NAME  MATHS   PHY
0   1    prakash    NaN   NaN
1   2  prakash k   91.0  81.0

In [196]:

query = """ select std.ID, std.name, mark.maths, mark.phy from students as std
full outer JOIN MARKS as mark on std.ID = mark.ID"""
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   ID       NAME  MATHS   PHY
0   1    prakash    NaN   NaN
1   2  prakash k   91.0  81.0

In [201]:
query = 'select pregnancies, age, outcome, count(*) from diabetes where pregnancies > 10 group by pregnancies, age, outcome having count(*)<5'
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

    PREGNANCIES  AGE  OUTCOME  COUNT(*)
0            11   51        1         2
1            13   57        0         1
2            11   35        0         2
3            13   42        1         1
4            13   45        0         1
5            15   43        1         1
6            17   47        1         1
7            11   40        1         1
8            12   38        1         1
9            12   44        1         1
10           13   52        0         1
11           13   43        1         1
12           12   48        0         1
13           12   58        1         1
14           14   38        1         1
15           12   46        1         1
16           11   42        0         1
17           13   38        1         1
18           11   51        0         1
19           11   48        1         1
20           12   46        0         1
21           13   44        1         2
22           11   42        1         1
23           14   46        1         1
24           12   44        0         1
25           12   41        0         1
26           13   41        0         1
27           12   62        0         1
28           11   45        1         1
29           13   39        0         1
30           11   50        1         1

In [204]:
query = ' select age, sum(outcome) from diabetes group by age having sum(outcome)<20 limit 10'
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   AGE  SUM(OUTCOME)
0   50             5
1   31            13
2   32             9
3   21             5
4   30             6
5   29            13
6   53             4
7   54             4
8   57             1
9   59             2

In [207]:
query = ' select top 5 age, sum(outcome) from diabetes group by age having sum(outcome)<20 order by sum(outcome) desc'
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

   AGE  SUM(OUTCOME)
0   25            14
1   31            13
2   29            13
3   41            13
4   22            11

In [ ]:
query = ' select  age, sum(outcome) from diabetes group by age having sum(outcome)<20 order by sum(outcome) desc'
cursor.execute(query)
out = cursor.fetchall()
pd.DataFrame(out, columns= [i[0] for i in cursor.description])

In [1]:
cursor.close()
connections.close()

NameError: name 'cursor' is not defined