In [1]:
import snowflake
from snowflake.snowpark import Session
import os
from dotenv import load_dotenv

In [ ]:
# https://ni54347.ap-southeast-1.snowflakecomputing.com

# Load environment variables from .env file
load_dotenv()
account = os.getenv('ACCOUNT')
password =os.getenv('PASSWORD')
user = os.getenv('USER')
warehouse = os.getenv('WAREHOUSE')
database = os.getenv('DATABASE')
schema = os.getenv('SCHEMA')

In [3]:
con = snowflake.connector.connect(user = user,
                                  password = password,
                                  account = account,
                                  database = database,
                                  schema = schema)

In [4]:
cur = con.cursor()

In [6]:
cur.execute('use warehouse TEST_WH;')
cur.execute('SELECT * FROM SPEND_AND_REVENUE_PER_MONTH;')
row1 = cur.fetchall()

In [7]:
for i in row1:
    print(i)

(2012, 5, 516431, 517618, 516729, 517208, 3264300.11)
(2012, 6, 506497, 504679, 501098, 501947, 3208482.33)
(2012, 7, 522780, 521395, 522762, 518405, 3311966.98)
(2012, 8, 519959, 520537, 520685, 521584, 3311752.81)
(2012, 9, 507211, 507404, 511364, 507363, 3208563.06)
(2012, 10, 518942, 520863, 522768, 519950, 3334028.46)
(2012, 11, 505715, 505221, 505292, 503748, 3185894.64)
(2012, 12, 520148, 520711, 521427, 520724, 3334570.96)
(2013, 1, 522151, 518635, 520583, 521167, 3316455.44)
(2013, 2, 467736, 474679, 469856, 469784, 2995042.21)
(2013, 3, 518044, 523408, 523688, 519430, 3310662.6)
(2013, 4, 503977, 505296, 504681, 501833, 3202893.08)
(2013, 5, 521339, 521528, 519625, 521698, 3314107.1)
(2013, 6, 501397, 502155, 503849, 507705, 3209691.3)
(2013, 7, 520723, 520237, 521298, 520385, 3287242.49)
(2013, 8, 521879, 521161, 519313, 522142, 3286719.19)
(2013, 9, 501425, 503883, 503743, 503957, 3203644.63)
(2013, 10, 520377, 520863, 516643, 523905, 3300621.57)
(2013, 11, 498994, 505537, 502228, 506957, 3203948.4)
(2013, 12, 520196, 516572, 520958, 522950, 3297473.23)
(2014, 1, 520675, 524080, 520267, 518008, 3310411.82)
(2014, 2, 471107, 470203, 469397, 469343, 2999335.34)
(2014, 3, 521842, 521374, 521383, 519719, 3290224.42)
(2014, 4, 503451, 501089, 504468, 503390, 3211174.08)
(2014, 5, 521572, 520662, 523235, 517288, 3330385.22)
(2014, 6, 503843, 502908, 506004, 502538, 3210942.76)
(2014, 7, 518952, 524269, 521920, 520614, 3312548.34)
(2014, 8, 523372, 520170, 521021, 519851, 3310157.73)
(2014, 9, 504471, 503954, 502752, 505341, 3206020.08)
(2014, 10, 520978, 520678, 521240, 520201, 3305368.03)
(2014, 11, 503632, 504994, 505173, 506313, 3210103.91)
(2014, 12, 522463, 522217, 519159, 522888, 3315751.18)
(2015, 1, 521367, 517228, 522583, 521024, 3318721.68)
(2015, 2, 471265, 471128, 467700, 472139, 3009419.69)
(2015, 3, 517093, 522442, 521718, 521009, 3314033.71)
(2015, 4, 504952, 502816, 503593, 502018, 3207627.6)
(2015, 5, 519893, 520618, 520920, 520892, 3292212.14)
(2015, 6, 504572, 503819, 502790, 506821, 3179211.75)
(2015, 7, 518485, 521668, 521032, 522818, 3294019.38)
(2015, 8, 519700, 520566, 520078, 521425, 3333388.18)
(2015, 9, 506355, 502913, 505505, 504422, 3188912.8)
(2015, 10, 519120, 521470, 520359, 519125, 3335431.54)
(2015, 11, 504422, 504291, 502348, 502014, 3180199.32)
(2015, 12, 520197, 520052, 520522, 520416, 3325578.1)
(2016, 1, 520507, 521762, 518134, 520517, 3286199.15)
(2016, 2, 486200, 487135, 487033, 486748, 3122107.03)
(2016, 3, 519982, 521906, 520213, 523121, 3302767.45)
(2016, 4, 502601, 504102, 505769, 503268, 3235126.22)
(2016, 5, 519748, 521415, 519835, 519056, 3291584.32)
(2016, 6, 501769, 505573, 503386, 505323, 3225823.62)
(2016, 7, 520872, 522843, 520572, 521641, 3336983.4)
(2016, 8, 519103, 520000, 522881, 521877, 3286371.15)
(2016, 9, 503689, 503251, 504799, 503916, 3207033.0)
(2016, 10, 522176, 521874, 521681, 519504, 3306595.84)
(2016, 11, 502302, 503989, 506569, 503338, 3190169.82)
(2016, 12, 518853, 520562, 521726, 520667, 3336704.39)
(2017, 1, 522807, 518987, 521946, 520742, 3291728.7)
(2017, 2, 469640, 468889, 472252, 469750, 2972623.83)
(2017, 3, 520689, 521381, 519853, 520427, 3315563.11)
(2017, 4, 500489, 505632, 504007, 504526, 3204344.23)
(2017, 5, 522298, 520085, 521439, 518486, 3291585.64)
(2017, 6, 502889, 503335, 504696, 504948, 3226349.23)
(2017, 7, 521487, 523460, 518452, 520555, 3333880.29)
(2017, 8, 520207, 520362, 521610, 520477, 3294351.31)
(2017, 9, 502610, 505287, 504050, 503095, 3234601.13)
(2017, 10, 521769, 519245, 523472, 520179, 3330604.0)
(2017, 11, 505149, 502322, 504099, 501490, 3201100.65)
(2017, 12, 523302, 520194, 521552, 524296, 3293194.93)
(2018, 1, 521495, 521804, 521094, 521042, 3334369.19)
(2018, 2, 470330, 469796, 472430, 467531, 2986760.74)
(2018, 3, 519889, 518499, 521048, 520131, 3314787.69)
(2018, 4, 504455, 505530, 502134, 505282, 3173602.83)
(2018, 5, 519449, 521856, 523281, 520083, 3289536.64)
(2018, 6, 501786, 504338, 504807, 505046, 3222543.75)
(2018, 7, 518246, 522944, 521680, 521163, 3291477.22)
(2018, 8, 521101, 520224, 519419, 519866, 3289901.54)
(2018, 9, 504601, 505980, 500772, 503215, 3184802.66)
(2018, 10, 520025, 523995, 522410, 520195, 3333148.92)
(2018, 11, 504839, 502427, 505811, 503412, 3228367.65)
(2018, 12, 521831, 519684, 519937, 519801, 3319678.79)
(2019, 1, 520925, 521633, 520206, 519756, 3312479.26)
(2019, 2, 470770, 470890, 471067, 471821, 2980961.83)
(2019, 3, 518796, 524185, 520500, 521162, 3308023.7)
(2019, 4, 504909, 504332, 504309, 503977, 3202730.66)
(2019, 5, 520716, 520583, 524396, 520121, 3290052.35)
(2019, 6, 499638, 504116, 504521, 504752, 3189870.52)
(2019, 7, 521219, 521108, 518794, 522872, 3332623.96)
(2019, 8, 522540, 521909, 521266, 521260, 3331038.13)
(2019, 9, 504446, 501877, 505762, 502427, 3189879.87)
(2019, 10, 524156, 521057, 517819, 521572, 3330897.44)
(2019, 11, 503704, 506280, 501554, 504232, 3228724.85)
(2019, 12, 518899, 524566, 522647, 519196, 3300384.1)
(2020, 1, 524138, 519611, 518156, 519568, 3334778.43)
(2020, 2, 486566, 484767, 490107, 487594, 3080113.96)
(2020, 3, 519577, 521288, 519324, 520262, 3293992.48)
(2020, 4, 507388, 503069, 502831, 505291, 3227491.55)
(2020, 5, 521842, 519656, 522300, 519362, 3321051.25)
(2020, 6, 504480, 503689, 502370, 502378, 3209886.33)
(2020, 7, 521172, 521630, 520309, 519686, 3313049.5)
(2020, 8, 523000, 519227, 520901, 520250, 3294068.52)
(2020, 9, 503843, 506482, 503568, 503331, 3205731.93)
(2020, 10, 522725, 519594, 519569, 520875, 3314141.23)
(2020, 11, 507265, 503030, 500421, 504330, 3214487.11)
(2020, 12, 522281, 518175, 521257, 521001, 3299212.58)
(2021, 1, 519275, 521040, 521522, 519720, 3311363.5)
(2021, 2, 469090, 470007, 471119, 471889, 2974166.18)
(2021, 3, 520970, 520357, 518127, 519602, 3287224.38)
(2021, 4, 503966, 505305, 502516, 502136, 3206354.46)
(2021, 5, 520181, 520030, 522200, 522245, 3333721.94)
(2021, 6, 502588, 502563, 504838, 506600, 3178818.69)
(2021, 7, 522366, 517056, 519499, 521033, 3313572.61)
(2021, 8, 521025, 522775, 519864, 519576, 3292466.44)
(2021, 9, 503606, 504865, 502770, 505251, 3205544.66)
(2021, 10, 524027, 520043, 520050, 520703, 3314850.56)
(2021, 11, 505345, 501291, 503561, 504571, 3224902.51)
(2021, 12, 518867, 520503, 520008, 518725, 3338685.69)
(2022, 1, 520880, 524474, 519994, 520014, 3307219.97)
(2022, 2, 468251, 471481, 470541, 472944, 3011260.49)
(2022, 3, 519284, 520241, 522759, 520458, 3312803.4)
(2022, 4, 503395, 504021, 503304, 503256, 3178589.56)
(2022, 5, 197115, 195300, 196462, 195940, 1156590.17)

In [8]:
import pandas as pd

df = pd.DataFrame(row1, columns = ['year', 'month', 'search engine', 'social media', 'video', 'email', 'revenue'])

In [9]:
df

     year  month  search engine  social media   video   email     revenue
0    2012      5         516431        517618  516729  517208  3264300.11
1    2012      6         506497        504679  501098  501947  3208482.33
2    2012      7         522780        521395  522762  518405  3311966.98
3    2012      8         519959        520537  520685  521584  3311752.81
4    2012      9         507211        507404  511364  507363  3208563.06
..    ...    ...            ...           ...     ...     ...         ...
116  2022      1         520880        524474  519994  520014  3307219.97
117  2022      2         468251        471481  470541  472944  3011260.49
118  2022      3         519284        520241  522759  520458  3312803.40
119  2022      4         503395        504021  503304  503256  3178589.56
120  2022      5         197115        195300  196462  195940  1156590.17

[121 rows x 7 columns]

In [11]:
cur.close()
con.close()

In [14]:
con

In [12]:
con.is_closed()

True

In [13]:
cur.is_closed()

True

# TABLE

In [15]:
CONNECTION_PARAMETERS = {
    "account": account,
    "user": user,
    "password":password,
    # "role": "test_role",
    "database": database,
    "warehouse": warehouse,
    "schema": schema
}

In [101]:
from snowflake.snowpark import Session
session = Session.builder.configs(CONNECTION_PARAMETERS).create()

In [102]:
spend_df = session.table('SPEND_AND_REVENUE_PER_MONTH')

spend_df

In [20]:
spend_df.columns

['YEAR', 'MONTH', 'SEARCH_ENGINE', 'SOCIAL_MEDIA', 'VIDEO', 'EMAIL', 'REVENUE']

In [105]:
spend_df.show()

----------------------------------------------------------------------------------------
|"YEAR"  |"MONTH"  |"SEARCH_ENGINE"  |"SOCIAL_MEDIA"  |"VIDEO"  |"EMAIL"  |"REVENUE"   |
----------------------------------------------------------------------------------------
|2012    |5        |516431           |517618          |516729   |517208   |3264300.11  |
|2012    |6        |506497           |504679          |501098   |501947   |3208482.33  |
|2012    |7        |522780           |521395          |522762   |518405   |3311966.98  |
|2012    |8        |519959           |520537          |520685   |521584   |3311752.81  |
|2012    |9        |507211           |507404          |511364   |507363   |3208563.06  |
|2012    |10       |518942           |520863          |522768   |519950   |3334028.46  |
|2012    |11       |505715           |505221          |505292   |503748   |3185894.64  |
|2012    |12       |520148           |520711          |521427   |520724   |3334570.96  |
|2013    |1        |522151           |518635          |520583   |521167   |3316455.44  |
|2013    |2        |467736           |474679          |469856   |469784   |2995042.21  |
----------------------------------------------------------------------------------------

In [23]:
spend_df.describe().show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------
|"SUMMARY"  |"YEAR"              |"MONTH"             |"SEARCH_ENGINE"     |"SOCIAL_MEDIA"      |"VIDEO"             |"EMAIL"             |"REVENUE"           |
----------------------------------------------------------------------------------------------------------------------------------------------------------------
|count      |121.0               |121.0               |121.0               |121.0               |121.0               |121.0               |121.0               |
|mean       |2016.876033         |6.487603            |508546.371901       |508783.181818       |508691.68595        |508586.049587       |3233218.3157024793  |
|stddev     |2.9483617484969513  |3.4547448530969693  |31843.197086434913  |31926.941710724503  |31810.435719019693  |31783.389808423315  |210080.8527243724   |
|min        |2012.0              |1.0                 |197115.0            |195300.0            |196462.0            |195940.0            |1156590.17          |
|max        |2022.0              |12.0                |524156.0            |524566.0            |524396.0            |524296.0            |3338685.69          |
----------------------------------------------------------------------------------------------------------------------------------------------------------------

In [25]:
[(i, i+65, chr(i+65)) for i in range(26)]

[(0, 65, 'A'),
 (1, 66, 'B'),
 (2, 67, 'C'),
 (3, 68, 'D'),
 (4, 69, 'E'),
 (5, 70, 'F'),
 (6, 71, 'G'),
 (7, 72, 'H'),
 (8, 73, 'I'),
 (9, 74, 'J'),
 (10, 75, 'K'),
 (11, 76, 'L'),
 (12, 77, 'M'),
 (13, 78, 'N'),
 (14, 79, 'O'),
 (15, 80, 'P'),
 (16, 81, 'Q'),
 (17, 82, 'R'),
 (18, 83, 'S'),
 (19, 84, 'T'),
 (20, 85, 'U'),
 (21, 86, 'V'),
 (22, 87, 'W'),
 (23, 88, 'X'),
 (24, 89, 'Y'),
 (25, 90, 'Z')]

In [26]:
df =session.create_dataframe([(i, i+65, chr(i+65)) for i in range(26)], schema=['S No', 'Ord', 'Char'])
df.show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|0       |65     |A       |
|1       |66     |B       |
|2       |67     |C       |
|3       |68     |D       |
|4       |69     |E       |
|5       |70     |F       |
|6       |71     |G       |
|7       |72     |H       |
|8       |73     |I       |
|9       |74     |J       |
---------------------------

In [27]:
session.range(1, 10, 3).to_df('col1').show()

----------
|"COL1"  |
----------
|1       |
|4       |
|7       |
----------

In [28]:
session.range(1, 10).to_df('col1').show()

----------
|"COL1"  |
----------
|1       |
|2       |
|3       |
|4       |
|5       |
|6       |
|7       |
|8       |
|9       |
----------

In [29]:
session.range(10).to_df('col1').show()

----------
|"COL1"  |
----------
|0       |
|1       |
|2       |
|3       |
|4       |
|5       |
|6       |
|7       |
|8       |
|9       |
----------

In [30]:
df1 =session.create_dataframe([(i+26, i+97, chr(i+97)) for i in range(26)], schema=['S No', 'Ord', 'Char'])
df1.show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|26      |97     |a       |
|27      |98     |b       |
|28      |99     |c       |
|29      |100    |d       |
|30      |101    |e       |
|31      |102    |f       |
|32      |103    |g       |
|33      |104    |h       |
|34      |105    |i       |
|35      |106    |j       |
---------------------------

In [31]:
df.show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|0       |65     |A       |
|1       |66     |B       |
|2       |67     |C       |
|3       |68     |D       |
|4       |69     |E       |
|5       |70     |F       |
|6       |71     |G       |
|7       |72     |H       |
|8       |73     |I       |
|9       |74     |J       |
---------------------------

In [32]:
# merge


dff = df.join(df1)

In [34]:
dff.show()

-----------------------------------------------------------------------------------------------
|"l_czeh_S No"  |"l_czeh_ORD"  |"l_czeh_CHAR"  |"r_59xg_S No"  |"r_59xg_ORD"  |"r_59xg_CHAR"  |
-----------------------------------------------------------------------------------------------
|0              |65            |A              |26             |97            |a              |
|0              |65            |A              |27             |98            |b              |
|0              |65            |A              |28             |99            |c              |
|0              |65            |A              |29             |100           |d              |
|0              |65            |A              |30             |101           |e              |
|0              |65            |A              |31             |102           |f              |
|0              |65            |A              |32             |103           |g              |
|0              |65            |A              |33             |104           |h              |
|0              |65            |A              |34             |105           |i              |
|0              |65            |A              |35             |106           |j              |
-----------------------------------------------------------------------------------------------

In [52]:
dff = df.join(df1, df['S No']==df1['S No'])
dff.show()

In [37]:
df.sort(col('CHAR').desc()).show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|25      |90     |Z       |
|24      |89     |Y       |
|23      |88     |X       |
|22      |87     |W       |
|21      |86     |V       |
|20      |85     |U       |
|19      |84     |T       |
|18      |83     |S       |
|17      |82     |R       |
|16      |81     |Q       |
---------------------------

In [38]:
df.sort(col('CHAR').desc(), col('ORD').asc()).show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|25      |90     |Z       |
|24      |89     |Y       |
|23      |88     |X       |
|22      |87     |W       |
|21      |86     |V       |
|20      |85     |U       |
|19      |84     |T       |
|18      |83     |S       |
|17      |82     |R       |
|16      |81     |Q       |
---------------------------

In [40]:
df.sort('CHAR', ascending=False).show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|25      |90     |Z       |
|24      |89     |Y       |
|23      |88     |X       |
|22      |87     |W       |
|21      |86     |V       |
|20      |85     |U       |
|19      |84     |T       |
|18      |83     |S       |
|17      |82     |R       |
|16      |81     |Q       |
---------------------------

In [43]:
spend_df.show()

----------------------------------------------------------------------------------------
|"YEAR"  |"MONTH"  |"SEARCH_ENGINE"  |"SOCIAL_MEDIA"  |"VIDEO"  |"EMAIL"  |"REVENUE"   |
----------------------------------------------------------------------------------------
|2012    |5        |516431           |517618          |516729   |517208   |3264300.11  |
|2012    |6        |506497           |504679          |501098   |501947   |3208482.33  |
|2012    |7        |522780           |521395          |522762   |518405   |3311966.98  |
|2012    |8        |519959           |520537          |520685   |521584   |3311752.81  |
|2012    |9        |507211           |507404          |511364   |507363   |3208563.06  |
|2012    |10       |518942           |520863          |522768   |519950   |3334028.46  |
|2012    |11       |505715           |505221          |505292   |503748   |3185894.64  |
|2012    |12       |520148           |520711          |521427   |520724   |3334570.96  |
|2013    |1        |522151           |518635          |520583   |521167   |3316455.44  |
|2013    |2        |467736           |474679          |469856   |469784   |2995042.21  |
----------------------------------------------------------------------------------------

In [44]:
spend_df.sort(['YEAR', 'MONTH'], ascending=[0,0]).show()

----------------------------------------------------------------------------------------
|"YEAR"  |"MONTH"  |"SEARCH_ENGINE"  |"SOCIAL_MEDIA"  |"VIDEO"  |"EMAIL"  |"REVENUE"   |
----------------------------------------------------------------------------------------
|2022    |5        |197115           |195300          |196462   |195940   |1156590.17  |
|2022    |4        |503395           |504021          |503304   |503256   |3178589.56  |
|2022    |3        |519284           |520241          |522759   |520458   |3312803.4   |
|2022    |2        |468251           |471481          |470541   |472944   |3011260.49  |
|2022    |1        |520880           |524474          |519994   |520014   |3307219.97  |
|2021    |12       |518867           |520503          |520008   |518725   |3338685.69  |
|2021    |11       |505345           |501291          |503561   |504571   |3224902.51  |
|2021    |10       |524027           |520043          |520050   |520703   |3314850.56  |
|2021    |9        |503606           |504865          |502770   |505251   |3205544.66  |
|2021    |8        |521025           |522775          |519864   |519576   |3292466.44  |
----------------------------------------------------------------------------------------

In [45]:
spend_df.sort(['YEAR', 'MONTH'], ascending=[0,1]).show()

----------------------------------------------------------------------------------------
|"YEAR"  |"MONTH"  |"SEARCH_ENGINE"  |"SOCIAL_MEDIA"  |"VIDEO"  |"EMAIL"  |"REVENUE"   |
----------------------------------------------------------------------------------------
|2022    |1        |520880           |524474          |519994   |520014   |3307219.97  |
|2022    |2        |468251           |471481          |470541   |472944   |3011260.49  |
|2022    |3        |519284           |520241          |522759   |520458   |3312803.4   |
|2022    |4        |503395           |504021          |503304   |503256   |3178589.56  |
|2022    |5        |197115           |195300          |196462   |195940   |1156590.17  |
|2021    |1        |519275           |521040          |521522   |519720   |3311363.5   |
|2021    |2        |469090           |470007          |471119   |471889   |2974166.18  |
|2021    |3        |520970           |520357          |518127   |519602   |3287224.38  |
|2021    |4        |503966           |505305          |502516   |502136   |3206354.46  |
|2021    |5        |520181           |520030          |522200   |522245   |3333721.94  |
----------------------------------------------------------------------------------------

In [47]:
spend_df.pivot(['YEAR', 'MONTH']).sum('REVENUE').show()

Calling pivot() with the `value` parameter set to None or to a Snowpark DataFrame is in private preview since v1.15.0. Do not use this feature in production.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"MONTH"  |"SEARCH_ENGINE"  |"SOCIAL_MEDIA"  |"VIDEO"  |"EMAIL"  |"2012"      |"2013"  |"2014"      |"2015"  |"2016"      |"2017"      |"2018"      |"2019"      |"2020"      |"2021"  |"2022"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|5        |516431           |517618          |516729   |517208   |3264300.11  |NULL    |NULL        |NULL    |NULL        |NULL        |NULL        |NULL        |NULL        |NULL    |NULL    |
|5        |521572           |520662          |523235   |517288   |NULL        |NULL    |3330385.22  |NULL    |NULL        |NULL        |NULL        |NULL        |NULL        |NULL    |NULL    |
|11       |504839           |502427          |505811   |503412   |NULL        |NULL    |NULL        |NULL    |NULL        |NULL        |3228367.65  |NULL        |NULL        |NULL    |NULL    |
|5        |520716           |520583          |524396   |520121   |NULL        |NULL    |NULL        |NULL    |NULL        |NULL        |NULL        |3290052.35  |NULL        |NULL    |NULL    |
|11       |505715           |505221          |505292   |503748   |3185894.64  |NULL    |NULL        |NULL    |NULL        |NULL        |NULL        |NULL        |NULL        |NULL    |NULL    |
|7        |521487           |523460          |518452   |520555   |NULL        |NULL    |NULL        |NULL    |NULL        |3333880.29  |NULL        |NULL        |NULL        |NULL    |NULL    |
|11       |502302           |503989          |506569   |503338   |NULL        |NULL    |NULL        |NULL    |3190169.82  |NULL        |NULL        |NULL        |NULL        |NULL    |NULL    |
|5        |521842           |519656          |522300   |519362   |NULL        |NULL    |NULL        |NULL    |NULL        |NULL        |NULL        |NULL        |3321051.25  |NULL    |NULL    |
|12       |518899           |524566          |522647   |519196   |NULL        |NULL    |NULL        |NULL    |NULL        |NULL        |NULL        |3300384.1   |NULL        |NULL    |NULL    |
|10       |520025           |523995          |522410   |520195   |NULL        |NULL    |NULL        |NULL    |NULL        |NULL        |3333148.92  |NULL        |NULL        |NULL    |NULL    |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [48]:
spend_df[['YEAR', 'MONTH']].show()

--------------------
|"YEAR"  |"MONTH"  |
--------------------
|2012    |5        |
|2012    |6        |
|2012    |7        |
|2012    |8        |
|2012    |9        |
|2012    |10       |
|2012    |11       |
|2012    |12       |
|2013    |1        |
|2013    |2        |
--------------------

In [49]:
spend_df[spend_df['YEAR']==2022].show()

----------------------------------------------------------------------------------------
|"YEAR"  |"MONTH"  |"SEARCH_ENGINE"  |"SOCIAL_MEDIA"  |"VIDEO"  |"EMAIL"  |"REVENUE"   |
----------------------------------------------------------------------------------------
|2022    |1        |520880           |524474          |519994   |520014   |3307219.97  |
|2022    |2        |468251           |471481          |470541   |472944   |3011260.49  |
|2022    |3        |519284           |520241          |522759   |520458   |3312803.4   |
|2022    |4        |503395           |504021          |503304   |503256   |3178589.56  |
|2022    |5        |197115           |195300          |196462   |195940   |1156590.17  |
----------------------------------------------------------------------------------------

In [55]:
spend_df[['YEAR']].show()

----------
|"YEAR"  |
----------
|2012    |
|2012    |
|2012    |
|2012    |
|2012    |
|2012    |
|2012    |
|2012    |
|2013    |
|2013    |
----------

In [58]:
spend_df.select('YEAR').show()

----------
|"YEAR"  |
----------
|2012    |
|2012    |
|2012    |
|2012    |
|2012    |
|2012    |
|2012    |
|2012    |
|2013    |
|2013    |
----------

In [59]:
spend_df.select('YEAR').filter(col('YEAR')>2015).show()

----------
|"YEAR"  |
----------
|2016    |
|2016    |
|2016    |
|2016    |
|2016    |
|2016    |
|2016    |
|2016    |
|2016    |
|2016    |
----------

In [60]:
df.show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|0       |65     |A       |
|1       |66     |B       |
|2       |67     |C       |
|3       |68     |D       |
|4       |69     |E       |
|5       |70     |F       |
|6       |71     |G       |
|7       |72     |H       |
|8       |73     |I       |
|9       |74     |J       |
---------------------------

In [61]:
df1.show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|26      |97     |a       |
|27      |98     |b       |
|28      |99     |c       |
|29      |100    |d       |
|30      |101    |e       |
|31      |102    |f       |
|32      |103    |g       |
|33      |104    |h       |
|34      |105    |i       |
|35      |106    |j       |
---------------------------

In [62]:
df.subtract(df1).show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|16      |81     |Q       |
|9       |74     |J       |
|0       |65     |A       |
|4       |69     |E       |
|17      |82     |R       |
|14      |79     |O       |
|22      |87     |W       |
|23      |88     |X       |
|24      |89     |Y       |
|15      |80     |P       |
---------------------------

In [63]:
chr(81)

'Q'

In [64]:
df.minus(df1).show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|16      |81     |Q       |
|9       |74     |J       |
|0       |65     |A       |
|4       |69     |E       |
|17      |82     |R       |
|14      |79     |O       |
|22      |87     |W       |
|23      |88     |X       |
|24      |89     |Y       |
|15      |80     |P       |
---------------------------

In [66]:
df.except_(df1).show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|16      |81     |Q       |
|9       |74     |J       |
|0       |65     |A       |
|4       |69     |E       |
|17      |82     |R       |
|14      |79     |O       |
|22      |87     |W       |
|23      |88     |X       |
|24      |89     |Y       |
|15      |80     |P       |
---------------------------

In [67]:
for row in df.to_local_iterator():
    print(row)

Row(S No=0, ORD=65, CHAR='A')
Row(S No=1, ORD=66, CHAR='B')
Row(S No=2, ORD=67, CHAR='C')
Row(S No=3, ORD=68, CHAR='D')
Row(S No=4, ORD=69, CHAR='E')
Row(S No=5, ORD=70, CHAR='F')
Row(S No=6, ORD=71, CHAR='G')
Row(S No=7, ORD=72, CHAR='H')
Row(S No=8, ORD=73, CHAR='I')
Row(S No=9, ORD=74, CHAR='J')
Row(S No=10, ORD=75, CHAR='K')
Row(S No=11, ORD=76, CHAR='L')
Row(S No=12, ORD=77, CHAR='M')
Row(S No=13, ORD=78, CHAR='N')
Row(S No=14, ORD=79, CHAR='O')
Row(S No=15, ORD=80, CHAR='P')
Row(S No=16, ORD=81, CHAR='Q')
Row(S No=17, ORD=82, CHAR='R')
Row(S No=18, ORD=83, CHAR='S')
Row(S No=19, ORD=84, CHAR='T')
Row(S No=20, ORD=85, CHAR='U')
Row(S No=21, ORD=86, CHAR='V')
Row(S No=22, ORD=87, CHAR='W')
Row(S No=23, ORD=88, CHAR='X')
Row(S No=24, ORD=89, CHAR='Y')
Row(S No=25, ORD=90, CHAR='Z')

In [69]:
df.union(df1).show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|0       |65     |A       |
|1       |66     |B       |
|2       |67     |C       |
|3       |68     |D       |
|4       |69     |E       |
|5       |70     |F       |
|6       |71     |G       |
|7       |72     |H       |
|8       |73     |I       |
|9       |74     |J       |
---------------------------

In [70]:
df.unionAll(df1).show()

---------------------------
|"S No"  |"ORD"  |"CHAR"  |
---------------------------
|0       |65     |A       |
|1       |66     |B       |
|2       |67     |C       |
|3       |68     |D       |
|4       |69     |E       |
|5       |70     |F       |
|6       |71     |G       |
|7       |72     |H       |
|8       |73     |I       |
|9       |74     |J       |
---------------------------

In [71]:
df.filter((col('ORD')>75)).collect()

[Row(S No=11, ORD=76, CHAR='L'),
 Row(S No=12, ORD=77, CHAR='M'),
 Row(S No=13, ORD=78, CHAR='N'),
 Row(S No=14, ORD=79, CHAR='O'),
 Row(S No=15, ORD=80, CHAR='P'),
 Row(S No=16, ORD=81, CHAR='Q'),
 Row(S No=17, ORD=82, CHAR='R'),
 Row(S No=18, ORD=83, CHAR='S'),
 Row(S No=19, ORD=84, CHAR='T'),
 Row(S No=20, ORD=85, CHAR='U'),
 Row(S No=21, ORD=86, CHAR='V'),
 Row(S No=22, ORD=87, CHAR='W'),
 Row(S No=23, ORD=88, CHAR='X'),
 Row(S No=24, ORD=89, CHAR='Y'),
 Row(S No=25, ORD=90, CHAR='Z')]

In [72]:
df.collect()

[Row(S No=0, ORD=65, CHAR='A'),
 Row(S No=1, ORD=66, CHAR='B'),
 Row(S No=2, ORD=67, CHAR='C'),
 Row(S No=3, ORD=68, CHAR='D'),
 Row(S No=4, ORD=69, CHAR='E'),
 Row(S No=5, ORD=70, CHAR='F'),
 Row(S No=6, ORD=71, CHAR='G'),
 Row(S No=7, ORD=72, CHAR='H'),
 Row(S No=8, ORD=73, CHAR='I'),
 Row(S No=9, ORD=74, CHAR='J'),
 Row(S No=10, ORD=75, CHAR='K'),
 Row(S No=11, ORD=76, CHAR='L'),
 Row(S No=12, ORD=77, CHAR='M'),
 Row(S No=13, ORD=78, CHAR='N'),
 Row(S No=14, ORD=79, CHAR='O'),
 Row(S No=15, ORD=80, CHAR='P'),
 Row(S No=16, ORD=81, CHAR='Q'),
 Row(S No=17, ORD=82, CHAR='R'),
 Row(S No=18, ORD=83, CHAR='S'),
 Row(S No=19, ORD=84, CHAR='T'),
 Row(S No=20, ORD=85, CHAR='U'),
 Row(S No=21, ORD=86, CHAR='V'),
 Row(S No=22, ORD=87, CHAR='W'),
 Row(S No=23, ORD=88, CHAR='X'),
 Row(S No=24, ORD=89, CHAR='Y'),
 Row(S No=25, ORD=90, CHAR='Z')]

In [76]:
df.corr(col('ORD'), col('S No'))

1.0

In [77]:
spend_df.corr('YEAR', 'MONTH')

-0.13718880645799583

In [79]:
df.schema

StructType([StructField('"S No"', LongType(), nullable=False), StructField('ORD', LongType(), nullable=False), StructField('CHAR', StringType(), nullable=False)])

In [85]:
df[['ORD']].stat.show()

AttributeError: 'DataFrameStatFunctions' object has no attribute 'show'

In [86]:
df.select(col('ORD')).collect()

[Row(ORD=65),
 Row(ORD=66),
 Row(ORD=67),
 Row(ORD=68),
 Row(ORD=69),
 Row(ORD=70),
 Row(ORD=71),
 Row(ORD=72),
 Row(ORD=73),
 Row(ORD=74),
 Row(ORD=75),
 Row(ORD=76),
 Row(ORD=77),
 Row(ORD=78),
 Row(ORD=79),
 Row(ORD=80),
 Row(ORD=81),
 Row(ORD=82),
 Row(ORD=83),
 Row(ORD=84),
 Row(ORD=85),
 Row(ORD=86),
 Row(ORD=87),
 Row(ORD=88),
 Row(ORD=89),
 Row(ORD=90)]

In [87]:
df.select(col('ORD')).alias('order number').collect()

DataFrame.alias() is experimental since 1.5.0. Do not use it in production.

[Row(ORD=65),
 Row(ORD=66),
 Row(ORD=67),
 Row(ORD=68),
 Row(ORD=69),
 Row(ORD=70),
 Row(ORD=71),
 Row(ORD=72),
 Row(ORD=73),
 Row(ORD=74),
 Row(ORD=75),
 Row(ORD=76),
 Row(ORD=77),
 Row(ORD=78),
 Row(ORD=79),
 Row(ORD=80),
 Row(ORD=81),
 Row(ORD=82),
 Row(ORD=83),
 Row(ORD=84),
 Row(ORD=85),
 Row(ORD=86),
 Row(ORD=87),
 Row(ORD=88),
 Row(ORD=89),
 Row(ORD=90)]

In [88]:
df['S No'].dtype

AttributeError: 'Column' object has no attribute 'dtype'

In [89]:
df.dtypes

[('"S No"', 'bigint'), ('ORD', 'bigint'), ('CHAR', 'string(16777216)')]

In [91]:
df['S No'].is_not_null()

Column("S No" IS NOT NULL)

In [92]:
session

In [95]:
session.create_dataframe([i for i in range(109)]).show()

--------
|"_1"  |
--------
|0     |
|1     |
|2     |
|3     |
|4     |
|5     |
|6     |
|7     |
|8     |
|9     |
--------

In [96]:
session.close()

In [97]:
session

In [98]:
spend_df1 = session.table('SPEND_AND_REVENUE_PER_MONTH')

In [100]:
spend_df1.show()

InterfaceError: 252006: Cursor is closed in execute.